body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:665px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:28px;
}
#u4910 {
  position:absolute;
  left:37px;
  top:12px;
  width:403px;
  height:28px;
}
#u4911 {
  position:absolute;
  left:2px;
  top:6px;
  width:399px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:645px;
  height:193px;
}
#u4912 {
  position:absolute;
  left:20px;
  top:50px;
  width:645px;
  height:193px;
}
#u4913 {
  position:absolute;
  left:2px;
  top:88px;
  width:641px;
  visibility:hidden;
  word-wrap:break-word;
}
