body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1240px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2107 {
  position:absolute;
  left:80px;
  top:80px;
  width:1141px;
  height:95px;
}
#u2108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2108 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-align:right;
}
#u2109 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2110 {
  position:absolute;
  left:100px;
  top:0px;
  width:184px;
  height:30px;
  text-align:left;
}
#u2111 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2112 {
  position:absolute;
  left:284px;
  top:0px;
  width:100px;
  height:30px;
  text-align:right;
}
#u2113 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2114 {
  position:absolute;
  left:384px;
  top:0px;
  width:184px;
  height:30px;
  text-align:left;
}
#u2115 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2116 {
  position:absolute;
  left:568px;
  top:0px;
  width:100px;
  height:30px;
  text-align:right;
}
#u2117 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2118 {
  position:absolute;
  left:668px;
  top:0px;
  width:184px;
  height:30px;
  text-align:left;
}
#u2119 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2120 {
  position:absolute;
  left:852px;
  top:0px;
  width:100px;
  height:30px;
  color:#FF0000;
  text-align:right;
}
#u2121 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2122 {
  position:absolute;
  left:952px;
  top:0px;
  width:184px;
  height:30px;
  text-align:left;
}
#u2123 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2124 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  text-align:right;
}
#u2125 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2126 {
  position:absolute;
  left:100px;
  top:30px;
  width:184px;
  height:30px;
  text-align:left;
}
#u2127 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2128 {
  position:absolute;
  left:284px;
  top:30px;
  width:100px;
  height:30px;
  text-align:right;
}
#u2129 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2130 {
  position:absolute;
  left:384px;
  top:30px;
  width:184px;
  height:30px;
  text-align:left;
}
#u2131 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2132 {
  position:absolute;
  left:568px;
  top:30px;
  width:100px;
  height:30px;
  color:#000000;
  text-align:right;
}
#u2133 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2134 {
  position:absolute;
  left:668px;
  top:30px;
  width:184px;
  height:30px;
  text-align:left;
}
#u2135 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2136 {
  position:absolute;
  left:852px;
  top:30px;
  width:100px;
  height:30px;
  color:#FF0000;
  text-align:right;
}
#u2137 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2138 {
  position:absolute;
  left:952px;
  top:30px;
  width:184px;
  height:30px;
  text-align:left;
}
#u2139 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2140 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
  text-align:right;
}
#u2141 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2142 {
  position:absolute;
  left:100px;
  top:60px;
  width:184px;
  height:30px;
  text-align:left;
}
#u2143 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2144 {
  position:absolute;
  left:284px;
  top:60px;
  width:100px;
  height:30px;
  text-align:right;
}
#u2145 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2146 {
  position:absolute;
  left:384px;
  top:60px;
  width:184px;
  height:30px;
  text-align:left;
}
#u2147 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2148 {
  position:absolute;
  left:568px;
  top:60px;
  width:100px;
  height:30px;
  color:#000000;
  text-align:right;
}
#u2149 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2150 {
  position:absolute;
  left:668px;
  top:60px;
  width:184px;
  height:30px;
  text-align:left;
}
#u2151 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2152 {
  position:absolute;
  left:852px;
  top:60px;
  width:100px;
  height:30px;
  color:#FF0000;
  text-align:right;
}
#u2153 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2154 {
  position:absolute;
  left:952px;
  top:60px;
  width:184px;
  height:30px;
  text-align:left;
}
#u2155 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2156 {
  position:absolute;
  left:749px;
  top:81px;
  width:166px;
  height:28px;
}
#u2156_input {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2156_input {
  font-family:'应用字体';
}
#u2157 {
  position:absolute;
  left:465px;
  top:81px;
  width:120px;
  height:28px;
}
#u2157_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2157_input {
  font-family:'应用字体';
}
#u2157_input:disabled {
  color:grayText;
}
#u2158 {
  position:absolute;
  left:181px;
  top:81px;
  width:120px;
  height:28px;
}
#u2158_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2158_input {
  font-family:'应用字体';
}
#u2159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:34px;
  background:inherit;
  background-color:rgba(102, 175, 233, 0.6);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2159 {
  position:absolute;
  left:60px;
  top:30px;
  width:1180px;
  height:34px;
}
#u2160 {
  position:absolute;
  left:2px;
  top:9px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u2161 {
  position:absolute;
  left:73px;
  top:36px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u2162 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2163 {
  position:absolute;
  left:82px;
  top:230px;
  width:1141px;
  height:125px;
}
#u2164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2164 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-align:right;
}
#u2165 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2166 {
  position:absolute;
  left:100px;
  top:0px;
  width:184px;
  height:30px;
  text-align:left;
}
#u2167 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2168 {
  position:absolute;
  left:284px;
  top:0px;
  width:100px;
  height:30px;
  color:#FF0000;
  text-align:right;
}
#u2169 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2170 {
  position:absolute;
  left:384px;
  top:0px;
  width:184px;
  height:30px;
  text-align:left;
}
#u2171 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2172 {
  position:absolute;
  left:568px;
  top:0px;
  width:100px;
  height:30px;
  text-align:right;
}
#u2173 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2174 {
  position:absolute;
  left:668px;
  top:0px;
  width:184px;
  height:30px;
  text-align:left;
}
#u2175 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2176 {
  position:absolute;
  left:852px;
  top:0px;
  width:100px;
  height:30px;
  text-align:right;
}
#u2177 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2178 {
  position:absolute;
  left:952px;
  top:0px;
  width:184px;
  height:30px;
  text-align:left;
}
#u2179 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2180 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  text-align:right;
}
#u2181 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2182 {
  position:absolute;
  left:100px;
  top:30px;
  width:184px;
  height:30px;
  text-align:left;
}
#u2183 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2184 {
  position:absolute;
  left:284px;
  top:30px;
  width:100px;
  height:30px;
  text-align:right;
}
#u2185 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2186 {
  position:absolute;
  left:384px;
  top:30px;
  width:184px;
  height:30px;
  text-align:left;
}
#u2187 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2188 {
  position:absolute;
  left:568px;
  top:30px;
  width:100px;
  height:30px;
  text-align:right;
}
#u2189 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2190 {
  position:absolute;
  left:668px;
  top:30px;
  width:184px;
  height:30px;
  text-align:left;
}
#u2191 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2192 {
  position:absolute;
  left:852px;
  top:30px;
  width:100px;
  height:30px;
  text-align:right;
}
#u2193 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2194 {
  position:absolute;
  left:952px;
  top:30px;
  width:184px;
  height:30px;
  text-align:left;
}
#u2195 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2196 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
  text-align:right;
}
#u2197 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2198 {
  position:absolute;
  left:100px;
  top:60px;
  width:184px;
  height:30px;
  text-align:left;
}
#u2199 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2200 {
  position:absolute;
  left:284px;
  top:60px;
  width:100px;
  height:30px;
  text-align:right;
}
#u2201 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2202 {
  position:absolute;
  left:384px;
  top:60px;
  width:184px;
  height:30px;
  text-align:left;
}
#u2203 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2204 {
  position:absolute;
  left:568px;
  top:60px;
  width:100px;
  height:30px;
  text-align:right;
}
#u2205 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2206 {
  position:absolute;
  left:668px;
  top:60px;
  width:184px;
  height:30px;
  text-align:left;
}
#u2207 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2208 {
  position:absolute;
  left:852px;
  top:60px;
  width:100px;
  height:30px;
  text-align:right;
}
#u2209 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2210 {
  position:absolute;
  left:952px;
  top:60px;
  width:184px;
  height:30px;
  text-align:left;
}
#u2211 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2212 {
  position:absolute;
  left:0px;
  top:90px;
  width:100px;
  height:30px;
  text-align:right;
}
#u2213 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2214 {
  position:absolute;
  left:100px;
  top:90px;
  width:184px;
  height:30px;
  text-align:left;
}
#u2215 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2216 {
  position:absolute;
  left:284px;
  top:90px;
  width:100px;
  height:30px;
  text-align:right;
}
#u2217 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2218 {
  position:absolute;
  left:384px;
  top:90px;
  width:184px;
  height:30px;
  text-align:left;
}
#u2219 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2220 {
  position:absolute;
  left:568px;
  top:90px;
  width:100px;
  height:30px;
  text-align:right;
}
#u2221 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2222 {
  position:absolute;
  left:668px;
  top:90px;
  width:184px;
  height:30px;
  text-align:left;
}
#u2223 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2224 {
  position:absolute;
  left:852px;
  top:90px;
  width:100px;
  height:30px;
  text-align:right;
}
#u2225 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2226 {
  position:absolute;
  left:952px;
  top:90px;
  width:184px;
  height:30px;
  text-align:left;
}
#u2227 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2228 {
  position:absolute;
  left:751px;
  top:231px;
  width:404px;
  height:28px;
}
#u2228_input {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2228_input {
  font-family:'应用字体';
}
#u2229 {
  position:absolute;
  left:183px;
  top:261px;
  width:120px;
  height:28px;
}
#u2229_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2229_input {
  font-family:'应用字体';
}
#u2230 {
  position:absolute;
  left:183px;
  top:231px;
  width:401px;
  height:28px;
}
#u2230_input {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2230_input {
  font-family:'应用字体';
}
#u2231 {
  position:absolute;
  left:183px;
  top:291px;
  width:120px;
  height:28px;
}
#u2231_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2231_input {
  font-family:'应用字体';
}
#u2231_input:disabled {
  color:grayText;
}
#u2232 {
  position:absolute;
  left:467px;
  top:291px;
  width:120px;
  height:28px;
}
#u2232_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u2232_input {
  font-family:'应用字体';
}
#u2233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:28px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2233 {
  position:absolute;
  left:597px;
  top:291px;
  width:78px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2233_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:28px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2233.mouseOver {
}
#u2233_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:28px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-radius:4px;
  -moz-box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  -webkit-box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2233.mouseDown {
}
#u2233_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:28px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2233.disabled {
  opacity:0.5;
}
#u2234 {
  position:absolute;
  left:12px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u2235 {
  position:absolute;
  left:181px;
  top:141px;
  width:179px;
  height:28px;
}
#u2235_input {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2235_input {
  font-family:'应用字体';
}
#u2236 {
  position:absolute;
  left:465px;
  top:141px;
  width:170px;
  height:28px;
}
#u2236_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2236_input {
  font-family:'应用字体';
}
#u2237 {
  position:absolute;
  left:181px;
  top:111px;
  width:120px;
  height:28px;
}
#u2237_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2237_input {
  font-family:'应用字体';
}
#u2238 {
  position:absolute;
  left:466px;
  top:111px;
  width:169px;
  height:28px;
}
#u2238_input {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2238_input {
  font-family:'应用字体';
}
#u2239 {
  position:absolute;
  left:749px;
  top:111px;
  width:336px;
  height:28px;
}
#u2239_input {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2239_input {
  font-family:'应用字体';
}
#u2240 {
  position:absolute;
  left:749px;
  top:141px;
  width:120px;
  height:28px;
}
#u2240_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2240_input {
  font-family:'应用字体';
}
#u2241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:34px;
  background:inherit;
  background-color:rgba(102, 175, 233, 0.6);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2241 {
  position:absolute;
  left:60px;
  top:180px;
  width:1180px;
  height:34px;
}
#u2242 {
  position:absolute;
  left:2px;
  top:9px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u2243 {
  position:absolute;
  left:73px;
  top:186px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u2244 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2245 {
  position:absolute;
  left:467px;
  top:261px;
  width:120px;
  height:28px;
}
#u2245_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u2245_input {
  font-family:'应用字体';
}
#u2246 {
  position:absolute;
  left:751px;
  top:261px;
  width:120px;
  height:28px;
}
#u2246_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u2246_input {
  font-family:'应用字体';
}
#u2247 {
  position:absolute;
  left:1035px;
  top:261px;
  width:120px;
  height:28px;
}
#u2247_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2247_input {
  font-family:'应用字体';
}
#u2248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:16px;
}
#u2248 {
  position:absolute;
  left:100px;
  top:329px;
  width:367px;
  height:16px;
  color:#FF0000;
}
#u2249 {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  word-wrap:break-word;
}
#u2250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:45px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2250 {
  position:absolute;
  left:328px;
  top:355px;
  width:160px;
  height:45px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2250_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:45px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2250.mouseOver {
}
#u2250_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:45px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-radius:4px;
  -moz-box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  -webkit-box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2250.mouseDown {
}
#u2250_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:45px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2250.disabled {
  opacity:0.5;
}
#u2251 {
  position:absolute;
  left:12px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u2252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2252 {
  position:absolute;
  left:73px;
  top:488px;
  width:841px;
  height:16px;
  color:#FF0000;
}
#u2253 {
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  white-space:nowrap;
}
