body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1240px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:34px;
  background:inherit;
  background-color:rgba(102, 175, 233, 0.6);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5655 {
  position:absolute;
  left:60px;
  top:120px;
  width:1180px;
  height:34px;
}
#u5656 {
  position:absolute;
  left:2px;
  top:9px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u5657 {
  position:absolute;
  left:73px;
  top:126px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u5658 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5659 {
  position:absolute;
  left:82px;
  top:290px;
  width:1141px;
  height:95px;
}
#u5660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5660 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-align:right;
}
#u5661 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u5662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u5662 {
  position:absolute;
  left:100px;
  top:0px;
  width:184px;
  height:30px;
  text-align:left;
}
#u5663 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5664 {
  position:absolute;
  left:284px;
  top:0px;
  width:100px;
  height:30px;
  color:#FF0000;
  text-align:right;
}
#u5665 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u5666 {
  position:absolute;
  left:384px;
  top:0px;
  width:184px;
  height:30px;
  text-align:left;
}
#u5667 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5668 {
  position:absolute;
  left:568px;
  top:0px;
  width:100px;
  height:30px;
  text-align:right;
}
#u5669 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u5670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u5670 {
  position:absolute;
  left:668px;
  top:0px;
  width:184px;
  height:30px;
  text-align:left;
}
#u5671 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5672 {
  position:absolute;
  left:852px;
  top:0px;
  width:100px;
  height:30px;
  text-align:right;
}
#u5673 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u5674 {
  position:absolute;
  left:952px;
  top:0px;
  width:184px;
  height:30px;
  text-align:left;
}
#u5675 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5676 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  text-align:right;
}
#u5677 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u5678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u5678 {
  position:absolute;
  left:100px;
  top:30px;
  width:184px;
  height:30px;
  text-align:left;
}
#u5679 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5680 {
  position:absolute;
  left:284px;
  top:30px;
  width:100px;
  height:30px;
  text-align:right;
}
#u5681 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u5682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u5682 {
  position:absolute;
  left:384px;
  top:30px;
  width:184px;
  height:30px;
  text-align:left;
}
#u5683 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5684 {
  position:absolute;
  left:568px;
  top:30px;
  width:100px;
  height:30px;
  text-align:right;
}
#u5685 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u5686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u5686 {
  position:absolute;
  left:668px;
  top:30px;
  width:184px;
  height:30px;
  text-align:left;
}
#u5687 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5688 {
  position:absolute;
  left:852px;
  top:30px;
  width:100px;
  height:30px;
  text-align:right;
}
#u5689 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u5690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u5690 {
  position:absolute;
  left:952px;
  top:30px;
  width:184px;
  height:30px;
  text-align:left;
}
#u5691 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5692 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
  text-align:right;
}
#u5693 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u5694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u5694 {
  position:absolute;
  left:100px;
  top:60px;
  width:184px;
  height:30px;
  text-align:left;
}
#u5695 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5696 {
  position:absolute;
  left:284px;
  top:60px;
  width:100px;
  height:30px;
  text-align:right;
}
#u5697 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u5698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u5698 {
  position:absolute;
  left:384px;
  top:60px;
  width:184px;
  height:30px;
  text-align:left;
}
#u5699 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5700 {
  position:absolute;
  left:568px;
  top:60px;
  width:100px;
  height:30px;
  text-align:right;
}
#u5701 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u5702 {
  position:absolute;
  left:668px;
  top:60px;
  width:184px;
  height:30px;
  text-align:left;
}
#u5703 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5704 {
  position:absolute;
  left:852px;
  top:60px;
  width:100px;
  height:30px;
  text-align:right;
}
#u5705 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u5706 {
  position:absolute;
  left:952px;
  top:60px;
  width:184px;
  height:30px;
  text-align:left;
}
#u5707 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5708 {
  position:absolute;
  left:751px;
  top:291px;
  width:404px;
  height:28px;
}
#u5708_input {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5708_input {
  font-family:'应用字体';
}
#u5709 {
  position:absolute;
  left:183px;
  top:321px;
  width:120px;
  height:28px;
}
#u5709_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5709_input {
  font-family:'应用字体';
}
#u5710 {
  position:absolute;
  left:183px;
  top:291px;
  width:401px;
  height:28px;
}
#u5710_input {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5710_input {
  font-family:'应用字体';
}
#u5711 {
  position:absolute;
  left:183px;
  top:351px;
  width:120px;
  height:28px;
}
#u5711_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5711_input {
  font-family:'应用字体';
}
#u5711_input:disabled {
  color:grayText;
}
#u5712 {
  position:absolute;
  left:467px;
  top:351px;
  width:120px;
  height:28px;
}
#u5712_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u5712_input {
  font-family:'应用字体';
}
#u5713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:34px;
  background:inherit;
  background-color:rgba(102, 175, 233, 0.6);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5713 {
  position:absolute;
  left:60px;
  top:240px;
  width:1180px;
  height:34px;
}
#u5714 {
  position:absolute;
  left:2px;
  top:9px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u5715 {
  position:absolute;
  left:73px;
  top:246px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u5716 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5717 {
  position:absolute;
  left:467px;
  top:321px;
  width:120px;
  height:28px;
}
#u5717_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u5717_input {
  font-family:'应用字体';
}
#u5718 {
  position:absolute;
  left:751px;
  top:321px;
  width:120px;
  height:28px;
}
#u5718_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u5718_input {
  font-family:'应用字体';
}
#u5719 {
  position:absolute;
  left:1035px;
  top:321px;
  width:120px;
  height:28px;
}
#u5719_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5719_input {
  font-family:'应用字体';
}
#u5720 {
  position:absolute;
  left:82px;
  top:170px;
  width:1141px;
  height:65px;
}
#u5721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5721 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-align:right;
}
#u5722 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u5723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u5723 {
  position:absolute;
  left:100px;
  top:0px;
  width:184px;
  height:30px;
  text-align:left;
}
#u5724 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5725 {
  position:absolute;
  left:284px;
  top:0px;
  width:100px;
  height:30px;
  color:#FF0000;
  text-align:right;
}
#u5726 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u5727 {
  position:absolute;
  left:384px;
  top:0px;
  width:184px;
  height:30px;
  text-align:left;
}
#u5728 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5729 {
  position:absolute;
  left:568px;
  top:0px;
  width:100px;
  height:30px;
  color:#FF0000;
  text-align:right;
}
#u5730 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u5731 {
  position:absolute;
  left:668px;
  top:0px;
  width:184px;
  height:30px;
  text-align:left;
}
#u5732 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5733 {
  position:absolute;
  left:852px;
  top:0px;
  width:100px;
  height:30px;
  text-align:right;
}
#u5734 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u5735 {
  position:absolute;
  left:952px;
  top:0px;
  width:184px;
  height:30px;
  text-align:left;
}
#u5736 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5737 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  text-align:right;
}
#u5738 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u5739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u5739 {
  position:absolute;
  left:100px;
  top:30px;
  width:184px;
  height:30px;
  text-align:left;
}
#u5740 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5741 {
  position:absolute;
  left:284px;
  top:30px;
  width:100px;
  height:30px;
  text-align:right;
}
#u5742 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u5743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u5743 {
  position:absolute;
  left:384px;
  top:30px;
  width:184px;
  height:30px;
  text-align:left;
}
#u5744 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5745 {
  position:absolute;
  left:568px;
  top:30px;
  width:100px;
  height:30px;
  text-align:right;
}
#u5746 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u5747 {
  position:absolute;
  left:668px;
  top:30px;
  width:184px;
  height:30px;
  text-align:left;
}
#u5748 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5749 {
  position:absolute;
  left:852px;
  top:30px;
  width:100px;
  height:30px;
  text-align:right;
}
#u5750 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u5751 {
  position:absolute;
  left:952px;
  top:30px;
  width:184px;
  height:30px;
  text-align:left;
}
#u5752 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5753 {
  position:absolute;
  left:183px;
  top:171px;
  width:303px;
  height:28px;
}
#u5753_input {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5753_input {
  font-family:'应用字体';
}
#u5754 {
  position:absolute;
  left:183px;
  top:201px;
  width:179px;
  height:28px;
}
#u5754_input {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5754_input {
  font-family:'应用字体';
}
#u5755 {
  position:absolute;
  left:467px;
  top:201px;
  width:170px;
  height:28px;
}
#u5755_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5755_input {
  font-family:'应用字体';
}
#u5756 {
  position:absolute;
  left:80px;
  top:80px;
  width:1141px;
  height:35px;
}
#u5757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5757 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  color:#000000;
  text-align:right;
}
#u5758 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u5759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u5759 {
  position:absolute;
  left:100px;
  top:0px;
  width:184px;
  height:30px;
  text-align:left;
}
#u5760 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5761 {
  position:absolute;
  left:284px;
  top:0px;
  width:100px;
  height:30px;
  color:#000000;
  text-align:right;
}
#u5762 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u5763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u5763 {
  position:absolute;
  left:384px;
  top:0px;
  width:184px;
  height:30px;
  text-align:left;
}
#u5764 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5765 {
  position:absolute;
  left:568px;
  top:0px;
  width:100px;
  height:30px;
  color:#000000;
  text-align:right;
}
#u5766 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u5767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u5767 {
  position:absolute;
  left:668px;
  top:0px;
  width:184px;
  height:30px;
  text-align:left;
}
#u5768 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5769 {
  position:absolute;
  left:852px;
  top:0px;
  width:100px;
  height:30px;
  color:#1E1E1E;
  text-align:right;
}
#u5770 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u5771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u5771 {
  position:absolute;
  left:952px;
  top:0px;
  width:184px;
  height:30px;
  text-align:left;
}
#u5772 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:34px;
  background:inherit;
  background-color:rgba(102, 175, 233, 0.6);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5773 {
  position:absolute;
  left:60px;
  top:30px;
  width:1180px;
  height:34px;
}
#u5774 {
  position:absolute;
  left:2px;
  top:9px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u5775 {
  position:absolute;
  left:73px;
  top:36px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u5776 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5777 {
  position:absolute;
  left:181px;
  top:81px;
  width:134px;
  height:28px;
}
#u5777_input {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5777_input {
  font-family:'应用字体';
}
#u5778 {
  position:absolute;
  left:749px;
  top:81px;
  width:120px;
  height:28px;
}
#u5778_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5778_input {
  font-family:'应用字体';
}
#u5778_input:disabled {
  color:grayText;
}
#u5779 {
  position:absolute;
  left:1033px;
  top:81px;
  width:120px;
  height:28px;
}
#u5779_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5779_input {
  font-family:'应用字体';
}
#u5779_input:disabled {
  color:grayText;
}
#u5780_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u5780 {
  position:absolute;
  left:1161px;
  top:81px;
  width:50px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u5780_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u5780.mouseOver {
}
#u5780_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-radius:4px;
  -moz-box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  -webkit-box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u5780.mouseDown {
}
#u5780_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u5780.disabled {
  opacity:0.5;
}
#u5781 {
  position:absolute;
  left:12px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u5782 {
  position:absolute;
  left:465px;
  top:81px;
  width:120px;
  height:28px;
}
#u5782_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5782_input {
  font-family:'应用字体';
}
#u5782_input:disabled {
  color:grayText;
}
