body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:322px;
}
#u0 {
  position:absolute;
  left:54px;
  top:18px;
  width:506px;
  height:322px;
}
#u1 {
  position:absolute;
  left:2px;
  top:153px;
  width:502px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:37px;
  top:514px;
  width:894px;
  height:337px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:36px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4 {
  position:absolute;
  left:2px;
  top:10px;
  width:258px;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:36px;
}
#u5 {
  position:absolute;
  left:262px;
  top:0px;
  width:138px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:36px;
}
#u7 {
  position:absolute;
  left:400px;
  top:0px;
  width:99px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:36px;
}
#u9 {
  position:absolute;
  left:499px;
  top:0px;
  width:176px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10 {
  position:absolute;
  left:2px;
  top:10px;
  width:172px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:36px;
}
#u11 {
  position:absolute;
  left:675px;
  top:0px;
  width:214px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12 {
  position:absolute;
  left:2px;
  top:10px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:51px;
}
#u13 {
  position:absolute;
  left:0px;
  top:36px;
  width:262px;
  height:51px;
  font-size:14px;
}
#u14 {
  position:absolute;
  left:2px;
  top:18px;
  width:258px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:51px;
}
#u15 {
  position:absolute;
  left:262px;
  top:36px;
  width:138px;
  height:51px;
}
#u16 {
  position:absolute;
  left:2px;
  top:18px;
  width:134px;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:51px;
}
#u17 {
  position:absolute;
  left:400px;
  top:36px;
  width:99px;
  height:51px;
}
#u18 {
  position:absolute;
  left:2px;
  top:18px;
  width:95px;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:51px;
}
#u19 {
  position:absolute;
  left:499px;
  top:36px;
  width:176px;
  height:51px;
}
#u20 {
  position:absolute;
  left:2px;
  top:18px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:51px;
}
#u21 {
  position:absolute;
  left:675px;
  top:36px;
  width:214px;
  height:51px;
}
#u22 {
  position:absolute;
  left:2px;
  top:18px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:49px;
}
#u23 {
  position:absolute;
  left:0px;
  top:87px;
  width:262px;
  height:49px;
  font-size:14px;
}
#u24 {
  position:absolute;
  left:2px;
  top:16px;
  width:258px;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:49px;
}
#u25 {
  position:absolute;
  left:262px;
  top:87px;
  width:138px;
  height:49px;
}
#u26 {
  position:absolute;
  left:2px;
  top:16px;
  width:134px;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:49px;
}
#u27 {
  position:absolute;
  left:400px;
  top:87px;
  width:99px;
  height:49px;
}
#u28 {
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:49px;
}
#u29 {
  position:absolute;
  left:499px;
  top:87px;
  width:176px;
  height:49px;
}
#u30 {
  position:absolute;
  left:2px;
  top:16px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:49px;
}
#u31 {
  position:absolute;
  left:675px;
  top:87px;
  width:214px;
  height:49px;
}
#u32 {
  position:absolute;
  left:2px;
  top:16px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:49px;
}
#u33 {
  position:absolute;
  left:0px;
  top:136px;
  width:262px;
  height:49px;
}
#u34 {
  position:absolute;
  left:2px;
  top:16px;
  width:258px;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:49px;
}
#u35 {
  position:absolute;
  left:262px;
  top:136px;
  width:138px;
  height:49px;
}
#u36 {
  position:absolute;
  left:2px;
  top:16px;
  width:134px;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:49px;
}
#u37 {
  position:absolute;
  left:400px;
  top:136px;
  width:99px;
  height:49px;
}
#u38 {
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:49px;
}
#u39 {
  position:absolute;
  left:499px;
  top:136px;
  width:176px;
  height:49px;
}
#u40 {
  position:absolute;
  left:2px;
  top:16px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:49px;
}
#u41 {
  position:absolute;
  left:675px;
  top:136px;
  width:214px;
  height:49px;
}
#u42 {
  position:absolute;
  left:2px;
  top:16px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:49px;
}
#u43 {
  position:absolute;
  left:0px;
  top:185px;
  width:262px;
  height:49px;
}
#u44 {
  position:absolute;
  left:2px;
  top:16px;
  width:258px;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:49px;
}
#u45 {
  position:absolute;
  left:262px;
  top:185px;
  width:138px;
  height:49px;
}
#u46 {
  position:absolute;
  left:2px;
  top:16px;
  width:134px;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:49px;
}
#u47 {
  position:absolute;
  left:400px;
  top:185px;
  width:99px;
  height:49px;
}
#u48 {
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:49px;
}
#u49 {
  position:absolute;
  left:499px;
  top:185px;
  width:176px;
  height:49px;
}
#u50 {
  position:absolute;
  left:2px;
  top:16px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:49px;
}
#u51 {
  position:absolute;
  left:675px;
  top:185px;
  width:214px;
  height:49px;
}
#u52 {
  position:absolute;
  left:2px;
  top:16px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:49px;
}
#u53 {
  position:absolute;
  left:0px;
  top:234px;
  width:262px;
  height:49px;
}
#u54 {
  position:absolute;
  left:2px;
  top:8px;
  width:258px;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:49px;
}
#u55 {
  position:absolute;
  left:262px;
  top:234px;
  width:138px;
  height:49px;
}
#u56 {
  position:absolute;
  left:2px;
  top:16px;
  width:134px;
  word-wrap:break-word;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:49px;
}
#u57 {
  position:absolute;
  left:400px;
  top:234px;
  width:99px;
  height:49px;
}
#u58 {
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:49px;
}
#u59 {
  position:absolute;
  left:499px;
  top:234px;
  width:176px;
  height:49px;
}
#u60 {
  position:absolute;
  left:2px;
  top:16px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:49px;
}
#u61 {
  position:absolute;
  left:675px;
  top:234px;
  width:214px;
  height:49px;
}
#u62 {
  position:absolute;
  left:2px;
  top:16px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:49px;
}
#u63 {
  position:absolute;
  left:0px;
  top:283px;
  width:262px;
  height:49px;
}
#u64 {
  position:absolute;
  left:2px;
  top:16px;
  width:258px;
  word-wrap:break-word;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:49px;
}
#u65 {
  position:absolute;
  left:262px;
  top:283px;
  width:138px;
  height:49px;
}
#u66 {
  position:absolute;
  left:2px;
  top:16px;
  width:134px;
  word-wrap:break-word;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:49px;
}
#u67 {
  position:absolute;
  left:400px;
  top:283px;
  width:99px;
  height:49px;
}
#u68 {
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:49px;
}
#u69 {
  position:absolute;
  left:499px;
  top:283px;
  width:176px;
  height:49px;
}
#u70 {
  position:absolute;
  left:2px;
  top:16px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:49px;
}
#u71 {
  position:absolute;
  left:675px;
  top:283px;
  width:214px;
  height:49px;
}
#u72 {
  position:absolute;
  left:2px;
  top:16px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73 {
  position:absolute;
  left:545px;
  top:560px;
  width:68px;
  height:30px;
}
#u74 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u75_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u75 {
  position:absolute;
  left:545px;
  top:610px;
  width:68px;
  height:30px;
}
#u76 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u77_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u77 {
  position:absolute;
  left:555px;
  top:660px;
  width:48px;
  height:30px;
}
#u78 {
  position:absolute;
  left:2px;
  top:7px;
  width:44px;
  word-wrap:break-word;
}
#u79_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u79 {
  position:absolute;
  left:623px;
  top:560px;
  width:68px;
  height:30px;
}
#u80 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:733px;
  top:563px;
  width:48px;
  height:25px;
}
#u81_input {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u82 {
  position:absolute;
  left:803px;
  top:563px;
  width:48px;
  height:25px;
}
#u82_input {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u83_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83 {
  position:absolute;
  left:355px;
  top:458px;
  width:68px;
  height:30px;
}
#u84 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u85_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u85 {
  position:absolute;
  left:253px;
  top:458px;
  width:68px;
  height:30px;
}
#u86 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u87_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u87 {
  position:absolute;
  left:455px;
  top:458px;
  width:68px;
  height:30px;
}
#u88 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u89_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u89 {
  position:absolute;
  left:555px;
  top:458px;
  width:58px;
  height:30px;
}
#u90 {
  position:absolute;
  left:2px;
  top:7px;
  width:54px;
  word-wrap:break-word;
}
#u91_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u91 {
  position:absolute;
  left:99px;
  top:465px;
  width:27px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:971px;
  height:2px;
}
#u93 {
  position:absolute;
  left:30px;
  top:390px;
  width:970px;
  height:1px;
}
#u94 {
  position:absolute;
  left:2px;
  top:-8px;
  width:966px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u95 {
  position:absolute;
  left:162px;
  top:458px;
  width:68px;
  height:30px;
}
#u96 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
