body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1248px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u542_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1238px;
  height:2106px;
}
#u542 {
  position:absolute;
  left:10px;
  top:14px;
  width:1238px;
  height:2106px;
}
#u543 {
  position:absolute;
  left:2px;
  top:1045px;
  width:1234px;
  visibility:hidden;
  word-wrap:break-word;
}
