body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1263px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2264 {
  position:absolute;
  left:42px;
  top:15px;
  width:1141px;
  height:35px;
}
#u2265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2265 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-align:right;
}
#u2266 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2267 {
  position:absolute;
  left:100px;
  top:0px;
  width:184px;
  height:30px;
  text-align:left;
}
#u2268 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2269 {
  position:absolute;
  left:284px;
  top:0px;
  width:100px;
  height:30px;
  color:#FF0000;
  text-align:right;
}
#u2270 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2271 {
  position:absolute;
  left:384px;
  top:0px;
  width:184px;
  height:30px;
  text-align:left;
}
#u2272 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2273 {
  position:absolute;
  left:568px;
  top:0px;
  width:100px;
  height:30px;
  text-align:right;
}
#u2274 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2275 {
  position:absolute;
  left:668px;
  top:0px;
  width:184px;
  height:30px;
  text-align:left;
}
#u2276 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2277 {
  position:absolute;
  left:852px;
  top:0px;
  width:100px;
  height:30px;
  text-align:right;
}
#u2278 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2279 {
  position:absolute;
  left:952px;
  top:0px;
  width:184px;
  height:30px;
  text-align:left;
}
#u2280 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2281 {
  position:absolute;
  left:143px;
  top:16px;
  width:429px;
  height:28px;
}
#u2281_input {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#949494;
  text-align:left;
}
#u2281_input {
  font-family:'应用字体';
}
#u2282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2282 {
  position:absolute;
  left:586px;
  top:16px;
  width:81px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2282_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2282.mouseOver {
}
#u2282_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-radius:4px;
  -moz-box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  -webkit-box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2282.mouseDown {
}
#u2282_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2282.disabled {
  opacity:0.5;
}
#u2283 {
  position:absolute;
  left:12px;
  top:4px;
  width:57px;
  word-wrap:break-word;
}
#u2284 {
  position:absolute;
  left:42px;
  top:80px;
  width:1226px;
  height:125px;
}
#u2285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
}
#u2285 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
  color:#1E1E1E;
}
#u2286 {
  position:absolute;
  left:2px;
  top:7px;
  width:236px;
  word-wrap:break-word;
}
#u2287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u2287 {
  position:absolute;
  left:240px;
  top:0px;
  width:300px;
  height:30px;
  color:#1E1E1E;
}
#u2288 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u2289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u2289 {
  position:absolute;
  left:540px;
  top:0px;
  width:140px;
  height:30px;
  color:#1E1E1E;
}
#u2290 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u2291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u2291 {
  position:absolute;
  left:680px;
  top:0px;
  width:140px;
  height:30px;
  color:#1E1E1E;
}
#u2292 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u2293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u2293 {
  position:absolute;
  left:820px;
  top:0px;
  width:120px;
  height:30px;
  color:#000000;
}
#u2294 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u2295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u2295 {
  position:absolute;
  left:940px;
  top:0px;
  width:120px;
  height:30px;
  color:#000000;
}
#u2296 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u2297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u2297 {
  position:absolute;
  left:1060px;
  top:0px;
  width:81px;
  height:30px;
  color:#000000;
}
#u2298 {
  position:absolute;
  left:2px;
  top:7px;
  width:77px;
  word-wrap:break-word;
}
#u2299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u2299 {
  position:absolute;
  left:1141px;
  top:0px;
  width:80px;
  height:30px;
  color:#000000;
}
#u2300 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u2301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
}
#u2301 {
  position:absolute;
  left:0px;
  top:30px;
  width:240px;
  height:30px;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u2302 {
  position:absolute;
  left:2px;
  top:8px;
  width:236px;
  word-wrap:break-word;
}
#u2303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u2303 {
  position:absolute;
  left:240px;
  top:30px;
  width:300px;
  height:30px;
  text-align:left;
}
#u2304 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u2305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u2305 {
  position:absolute;
  left:540px;
  top:30px;
  width:140px;
  height:30px;
  text-align:left;
}
#u2306 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u2307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u2307 {
  position:absolute;
  left:680px;
  top:30px;
  width:140px;
  height:30px;
  text-align:left;
}
#u2308 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u2309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u2309 {
  position:absolute;
  left:820px;
  top:30px;
  width:120px;
  height:30px;
  text-align:right;
}
#u2310 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u2311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u2311 {
  position:absolute;
  left:940px;
  top:30px;
  width:120px;
  height:30px;
  text-align:right;
}
#u2312 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u2313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u2313 {
  position:absolute;
  left:1060px;
  top:30px;
  width:81px;
  height:30px;
  text-align:right;
}
#u2314 {
  position:absolute;
  left:2px;
  top:7px;
  width:77px;
  word-wrap:break-word;
}
#u2315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u2315 {
  position:absolute;
  left:1141px;
  top:30px;
  width:80px;
  height:30px;
  text-align:right;
}
#u2316 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
}
#u2317 {
  position:absolute;
  left:0px;
  top:60px;
  width:240px;
  height:30px;
  text-align:left;
}
#u2318 {
  position:absolute;
  left:2px;
  top:7px;
  width:236px;
  word-wrap:break-word;
}
#u2319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u2319 {
  position:absolute;
  left:240px;
  top:60px;
  width:300px;
  height:30px;
  text-align:left;
}
#u2320 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u2321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u2321 {
  position:absolute;
  left:540px;
  top:60px;
  width:140px;
  height:30px;
  text-align:left;
}
#u2322 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u2323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u2323 {
  position:absolute;
  left:680px;
  top:60px;
  width:140px;
  height:30px;
  text-align:left;
}
#u2324 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u2325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u2325 {
  position:absolute;
  left:820px;
  top:60px;
  width:120px;
  height:30px;
  text-align:right;
}
#u2326 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u2327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u2327 {
  position:absolute;
  left:940px;
  top:60px;
  width:120px;
  height:30px;
  text-align:right;
}
#u2328 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u2329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u2329 {
  position:absolute;
  left:1060px;
  top:60px;
  width:81px;
  height:30px;
  text-align:right;
}
#u2330 {
  position:absolute;
  left:2px;
  top:7px;
  width:77px;
  word-wrap:break-word;
}
#u2331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u2331 {
  position:absolute;
  left:1141px;
  top:60px;
  width:80px;
  height:30px;
  text-align:right;
}
#u2332 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
}
#u2333 {
  position:absolute;
  left:0px;
  top:90px;
  width:240px;
  height:30px;
  text-align:left;
}
#u2334 {
  position:absolute;
  left:2px;
  top:7px;
  width:236px;
  word-wrap:break-word;
}
#u2335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u2335 {
  position:absolute;
  left:240px;
  top:90px;
  width:300px;
  height:30px;
  text-align:left;
}
#u2336 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u2337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u2337 {
  position:absolute;
  left:540px;
  top:90px;
  width:140px;
  height:30px;
  text-align:left;
}
#u2338 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u2339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u2339 {
  position:absolute;
  left:680px;
  top:90px;
  width:140px;
  height:30px;
  text-align:left;
}
#u2340 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u2341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u2341 {
  position:absolute;
  left:820px;
  top:90px;
  width:120px;
  height:30px;
  text-align:right;
}
#u2342 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u2343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u2343 {
  position:absolute;
  left:940px;
  top:90px;
  width:120px;
  height:30px;
  text-align:right;
}
#u2344 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u2345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u2345 {
  position:absolute;
  left:1060px;
  top:90px;
  width:81px;
  height:30px;
  text-align:right;
}
#u2346 {
  position:absolute;
  left:2px;
  top:7px;
  width:77px;
  word-wrap:break-word;
}
#u2347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u2347 {
  position:absolute;
  left:1141px;
  top:90px;
  width:80px;
  height:30px;
  text-align:right;
}
#u2348 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2349_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2349 {
  position:absolute;
  left:1197px;
  top:111px;
  width:50px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2349_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2349.mouseOver {
}
#u2349_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-radius:4px;
  -moz-box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  -webkit-box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2349.mouseDown {
}
#u2349_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2349.disabled {
  opacity:0.5;
}
#u2350 {
  position:absolute;
  left:12px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u2351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2351 {
  position:absolute;
  left:1197px;
  top:141px;
  width:50px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2351_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2351.mouseOver {
}
#u2351_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-radius:4px;
  -moz-box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  -webkit-box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2351.mouseDown {
}
#u2351_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2351.disabled {
  opacity:0.5;
}
#u2352 {
  position:absolute;
  left:12px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u2353_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2353 {
  position:absolute;
  left:1197px;
  top:171px;
  width:50px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2353_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2353.mouseOver {
}
#u2353_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-radius:4px;
  -moz-box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  -webkit-box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2353.mouseDown {
}
#u2353_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2353.disabled {
  opacity:0.5;
}
#u2354 {
  position:absolute;
  left:12px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
