body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1240px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u18022 {
  position:absolute;
  left:36px;
  top:728px;
  width:614px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u18023 {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  word-wrap:break-word;
}
#u18024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:34px;
  background:inherit;
  background-color:rgba(102, 175, 233, 0.6);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18024 {
  position:absolute;
  left:60px;
  top:30px;
  width:1180px;
  height:34px;
}
#u18025 {
  position:absolute;
  left:2px;
  top:9px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u18026 {
  position:absolute;
  left:73px;
  top:36px;
  width:145px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u18027 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u18028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:27px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18028 {
  position:absolute;
  left:492px;
  top:34px;
  width:96px;
  height:27px;
}
#u18029 {
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u18030 {
  position:absolute;
  left:73px;
  top:80px;
  width:939px;
  height:185px;
}
#u18031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u18031 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
  color:#1E1E1E;
}
#u18032 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  word-wrap:break-word;
}
#u18033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u18033 {
  position:absolute;
  left:176px;
  top:0px;
  width:88px;
  height:30px;
  color:#1E1E1E;
}
#u18034 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u18035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u18035 {
  position:absolute;
  left:264px;
  top:0px;
  width:170px;
  height:30px;
  color:#1E1E1E;
}
#u18036 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u18037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u18037 {
  position:absolute;
  left:434px;
  top:0px;
  width:500px;
  height:30px;
  color:#1E1E1E;
}
#u18038 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  word-wrap:break-word;
}
#u18039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u18039 {
  position:absolute;
  left:0px;
  top:30px;
  width:176px;
  height:30px;
  text-align:left;
}
#u18040 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  word-wrap:break-word;
}
#u18041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u18041 {
  position:absolute;
  left:176px;
  top:30px;
  width:88px;
  height:30px;
  text-align:left;
}
#u18042 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u18043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u18043 {
  position:absolute;
  left:264px;
  top:30px;
  width:170px;
  height:30px;
  text-align:left;
}
#u18044 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u18045 {
  position:absolute;
  left:434px;
  top:30px;
  width:500px;
  height:30px;
  text-align:left;
}
#u18046 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u18047 {
  position:absolute;
  left:0px;
  top:60px;
  width:176px;
  height:30px;
  text-align:left;
}
#u18048 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  word-wrap:break-word;
}
#u18049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u18049 {
  position:absolute;
  left:176px;
  top:60px;
  width:88px;
  height:30px;
  text-align:left;
}
#u18050 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u18051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u18051 {
  position:absolute;
  left:264px;
  top:60px;
  width:170px;
  height:30px;
  text-align:left;
}
#u18052 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u18053 {
  position:absolute;
  left:434px;
  top:60px;
  width:500px;
  height:30px;
  text-align:left;
}
#u18054 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u18055 {
  position:absolute;
  left:0px;
  top:90px;
  width:176px;
  height:30px;
  text-align:left;
}
#u18056 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  word-wrap:break-word;
}
#u18057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u18057 {
  position:absolute;
  left:176px;
  top:90px;
  width:88px;
  height:30px;
  text-align:left;
}
#u18058 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u18059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u18059 {
  position:absolute;
  left:264px;
  top:90px;
  width:170px;
  height:30px;
  text-align:left;
}
#u18060 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u18061 {
  position:absolute;
  left:434px;
  top:90px;
  width:500px;
  height:30px;
  text-align:left;
}
#u18062 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u18063 {
  position:absolute;
  left:0px;
  top:120px;
  width:176px;
  height:30px;
  text-align:left;
}
#u18064 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  word-wrap:break-word;
}
#u18065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u18065 {
  position:absolute;
  left:176px;
  top:120px;
  width:88px;
  height:30px;
  text-align:left;
}
#u18066 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u18067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u18067 {
  position:absolute;
  left:264px;
  top:120px;
  width:170px;
  height:30px;
  text-align:left;
}
#u18068 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u18069 {
  position:absolute;
  left:434px;
  top:120px;
  width:500px;
  height:30px;
  text-align:left;
}
#u18070 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u18071 {
  position:absolute;
  left:0px;
  top:150px;
  width:176px;
  height:30px;
  text-align:left;
}
#u18072 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  word-wrap:break-word;
}
#u18073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u18073 {
  position:absolute;
  left:176px;
  top:150px;
  width:88px;
  height:30px;
  text-align:left;
}
#u18074 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u18075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u18075 {
  position:absolute;
  left:264px;
  top:150px;
  width:170px;
  height:30px;
  text-align:left;
}
#u18076 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u18077 {
  position:absolute;
  left:434px;
  top:150px;
  width:500px;
  height:30px;
  text-align:left;
}
#u18078 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u18079 {
  position:absolute;
  left:73px;
  top:264px;
  width:238px;
  height:16px;
  font-size:13px;
  color:#FF0000;
}
#u18080 {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  white-space:nowrap;
}
#u18081 {
  position:absolute;
  left:359px;
  top:117px;
  width:58px;
  height:16px;
}
#u18082 {
  position:absolute;
  left:16px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u18081_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18083 {
  position:absolute;
  left:427px;
  top:117px;
  width:65px;
  height:16px;
}
#u18084 {
  position:absolute;
  left:16px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u18083_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18085 {
  position:absolute;
  left:359px;
  top:150px;
  width:58px;
  height:16px;
}
#u18086 {
  position:absolute;
  left:16px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u18085_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18087 {
  position:absolute;
  left:427px;
  top:150px;
  width:65px;
  height:16px;
}
#u18088 {
  position:absolute;
  left:16px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u18087_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18089 {
  position:absolute;
  left:359px;
  top:177px;
  width:58px;
  height:16px;
}
#u18090 {
  position:absolute;
  left:16px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u18089_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18091 {
  position:absolute;
  left:427px;
  top:177px;
  width:65px;
  height:16px;
}
#u18092 {
  position:absolute;
  left:16px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u18091_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18093 {
  position:absolute;
  left:359px;
  top:205px;
  width:58px;
  height:16px;
}
#u18094 {
  position:absolute;
  left:16px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u18093_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18095 {
  position:absolute;
  left:427px;
  top:205px;
  width:64px;
  height:16px;
}
#u18096 {
  position:absolute;
  left:16px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u18095_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18097 {
  position:absolute;
  left:359px;
  top:237px;
  width:58px;
  height:16px;
}
#u18098 {
  position:absolute;
  left:16px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u18097_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18099 {
  position:absolute;
  left:427px;
  top:237px;
  width:64px;
  height:16px;
}
#u18100 {
  position:absolute;
  left:16px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u18099_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18101 {
  position:absolute;
  left:512px;
  top:111px;
  width:490px;
  height:28px;
}
#u18101_input {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18101_input {
  font-family:'应用字体';
}
#u18102 {
  position:absolute;
  left:512px;
  top:141px;
  width:490px;
  height:28px;
}
#u18102_input {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18102_input {
  font-family:'应用字体';
}
#u18103 {
  position:absolute;
  left:512px;
  top:171px;
  width:490px;
  height:28px;
}
#u18103_input {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18103_input {
  font-family:'应用字体';
}
#u18104 {
  position:absolute;
  left:512px;
  top:201px;
  width:490px;
  height:28px;
}
#u18104_input {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18104_input {
  font-family:'应用字体';
}
#u18105 {
  position:absolute;
  left:512px;
  top:231px;
  width:490px;
  height:28px;
}
#u18105_input {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18105_input {
  font-family:'应用字体';
}
#u18106 {
  position:absolute;
  left:73px;
  top:296px;
  width:572px;
  height:71px;
}
#u18107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u18107 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  text-align:right;
}
#u18108 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u18109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:36px;
}
#u18109 {
  position:absolute;
  left:100px;
  top:0px;
  width:184px;
  height:36px;
  text-align:left;
}
#u18110 {
  position:absolute;
  left:2px;
  top:10px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u18111 {
  position:absolute;
  left:284px;
  top:0px;
  width:100px;
  height:36px;
  color:#1E1E1E;
  text-align:right;
}
#u18112 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:36px;
}
#u18113 {
  position:absolute;
  left:384px;
  top:0px;
  width:183px;
  height:36px;
  text-align:left;
}
#u18114 {
  position:absolute;
  left:2px;
  top:10px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18115 {
  position:absolute;
  left:0px;
  top:36px;
  width:100px;
  height:30px;
  text-align:right;
}
#u18116 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u18117 {
  position:absolute;
  left:100px;
  top:36px;
  width:184px;
  height:30px;
  text-align:left;
}
#u18118 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18119 {
  position:absolute;
  left:284px;
  top:36px;
  width:100px;
  height:30px;
  color:#1E1E1E;
  text-align:right;
}
#u18120 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:30px;
}
#u18121 {
  position:absolute;
  left:384px;
  top:36px;
  width:183px;
  height:30px;
  text-align:left;
}
#u18122 {
  position:absolute;
  left:2px;
  top:7px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18123 {
  position:absolute;
  left:175px;
  top:297px;
  width:429px;
  height:28px;
}
#u18123_input {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#949494;
  text-align:left;
}
#u18123_input {
  font-family:'应用字体';
}
#u18124 {
  position:absolute;
  left:175px;
  top:327px;
  width:429px;
  height:28px;
}
#u18124_input {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#949494;
  text-align:left;
}
#u18124_input {
  font-family:'应用字体';
}
