body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:770px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6995 {
  position:absolute;
  left:21px;
  top:100px;
  width:604px;
  height:441px;
}
#u6996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:36px;
}
#u6996 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:36px;
  text-align:center;
}
#u6997 {
  position:absolute;
  left:2px;
  top:10px;
  width:42px;
  word-wrap:break-word;
}
#u6998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:36px;
}
#u6998 {
  position:absolute;
  left:46px;
  top:0px;
  width:138px;
  height:36px;
  text-align:center;
}
#u6999 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u7000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
}
#u7000 {
  position:absolute;
  left:184px;
  top:0px;
  width:127px;
  height:36px;
  text-align:center;
}
#u7001 {
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u7002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u7002 {
  position:absolute;
  left:311px;
  top:0px;
  width:119px;
  height:36px;
  text-align:center;
}
#u7003 {
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u7004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:36px;
}
#u7004 {
  position:absolute;
  left:430px;
  top:0px;
  width:169px;
  height:36px;
  text-align:center;
}
#u7005 {
  position:absolute;
  left:2px;
  top:10px;
  width:165px;
  word-wrap:break-word;
}
#u7006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:40px;
}
#u7006 {
  position:absolute;
  left:0px;
  top:36px;
  width:46px;
  height:40px;
  text-align:center;
}
#u7007 {
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  word-wrap:break-word;
}
#u7008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:40px;
}
#u7008 {
  position:absolute;
  left:46px;
  top:36px;
  width:138px;
  height:40px;
  text-align:center;
}
#u7009 {
  position:absolute;
  left:2px;
  top:12px;
  width:134px;
  word-wrap:break-word;
}
#u7010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
}
#u7010 {
  position:absolute;
  left:184px;
  top:36px;
  width:127px;
  height:40px;
  text-align:center;
}
#u7011 {
  position:absolute;
  left:2px;
  top:12px;
  width:123px;
  word-wrap:break-word;
}
#u7012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:40px;
}
#u7012 {
  position:absolute;
  left:311px;
  top:36px;
  width:119px;
  height:40px;
}
#u7013 {
  position:absolute;
  left:2px;
  top:12px;
  width:115px;
  word-wrap:break-word;
}
#u7014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
}
#u7014 {
  position:absolute;
  left:430px;
  top:36px;
  width:169px;
  height:40px;
  color:#000000;
  text-align:center;
}
#u7015 {
  position:absolute;
  left:2px;
  top:12px;
  width:165px;
  word-wrap:break-word;
}
#u7016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:40px;
}
#u7016 {
  position:absolute;
  left:0px;
  top:76px;
  width:46px;
  height:40px;
  text-align:center;
}
#u7017 {
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  word-wrap:break-word;
}
#u7018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:40px;
}
#u7018 {
  position:absolute;
  left:46px;
  top:76px;
  width:138px;
  height:40px;
  text-align:center;
}
#u7019 {
  position:absolute;
  left:2px;
  top:12px;
  width:134px;
  word-wrap:break-word;
}
#u7020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
}
#u7020 {
  position:absolute;
  left:184px;
  top:76px;
  width:127px;
  height:40px;
  text-align:center;
}
#u7021 {
  position:absolute;
  left:2px;
  top:12px;
  width:123px;
  word-wrap:break-word;
}
#u7022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:40px;
}
#u7022 {
  position:absolute;
  left:311px;
  top:76px;
  width:119px;
  height:40px;
}
#u7023 {
  position:absolute;
  left:2px;
  top:12px;
  width:115px;
  word-wrap:break-word;
}
#u7024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
}
#u7024 {
  position:absolute;
  left:430px;
  top:76px;
  width:169px;
  height:40px;
  text-align:center;
}
#u7025 {
  position:absolute;
  left:2px;
  top:12px;
  width:165px;
  word-wrap:break-word;
}
#u7026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:40px;
}
#u7026 {
  position:absolute;
  left:0px;
  top:116px;
  width:46px;
  height:40px;
  text-align:center;
}
#u7027 {
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  word-wrap:break-word;
}
#u7028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:40px;
}
#u7028 {
  position:absolute;
  left:46px;
  top:116px;
  width:138px;
  height:40px;
  text-align:center;
}
#u7029 {
  position:absolute;
  left:2px;
  top:12px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
}
#u7030 {
  position:absolute;
  left:184px;
  top:116px;
  width:127px;
  height:40px;
  text-align:center;
}
#u7031 {
  position:absolute;
  left:2px;
  top:12px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:40px;
}
#u7032 {
  position:absolute;
  left:311px;
  top:116px;
  width:119px;
  height:40px;
}
#u7033 {
  position:absolute;
  left:2px;
  top:12px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
}
#u7034 {
  position:absolute;
  left:430px;
  top:116px;
  width:169px;
  height:40px;
  text-align:center;
}
#u7035 {
  position:absolute;
  left:2px;
  top:12px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:40px;
}
#u7036 {
  position:absolute;
  left:0px;
  top:156px;
  width:46px;
  height:40px;
  text-align:center;
}
#u7037 {
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  word-wrap:break-word;
}
#u7038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:40px;
}
#u7038 {
  position:absolute;
  left:46px;
  top:156px;
  width:138px;
  height:40px;
  text-align:center;
}
#u7039 {
  position:absolute;
  left:2px;
  top:12px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
}
#u7040 {
  position:absolute;
  left:184px;
  top:156px;
  width:127px;
  height:40px;
  text-align:center;
}
#u7041 {
  position:absolute;
  left:2px;
  top:12px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:40px;
}
#u7042 {
  position:absolute;
  left:311px;
  top:156px;
  width:119px;
  height:40px;
}
#u7043 {
  position:absolute;
  left:2px;
  top:12px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
}
#u7044 {
  position:absolute;
  left:430px;
  top:156px;
  width:169px;
  height:40px;
  text-align:center;
}
#u7045 {
  position:absolute;
  left:2px;
  top:12px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:40px;
}
#u7046 {
  position:absolute;
  left:0px;
  top:196px;
  width:46px;
  height:40px;
  text-align:center;
}
#u7047 {
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  word-wrap:break-word;
}
#u7048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:40px;
}
#u7048 {
  position:absolute;
  left:46px;
  top:196px;
  width:138px;
  height:40px;
  text-align:center;
}
#u7049 {
  position:absolute;
  left:2px;
  top:12px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
}
#u7050 {
  position:absolute;
  left:184px;
  top:196px;
  width:127px;
  height:40px;
  text-align:center;
}
#u7051 {
  position:absolute;
  left:2px;
  top:12px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:40px;
}
#u7052 {
  position:absolute;
  left:311px;
  top:196px;
  width:119px;
  height:40px;
}
#u7053 {
  position:absolute;
  left:2px;
  top:12px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
}
#u7054 {
  position:absolute;
  left:430px;
  top:196px;
  width:169px;
  height:40px;
  text-align:center;
}
#u7055 {
  position:absolute;
  left:2px;
  top:12px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:40px;
}
#u7056 {
  position:absolute;
  left:0px;
  top:236px;
  width:46px;
  height:40px;
  text-align:center;
}
#u7057 {
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  word-wrap:break-word;
}
#u7058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:40px;
}
#u7058 {
  position:absolute;
  left:46px;
  top:236px;
  width:138px;
  height:40px;
  text-align:center;
}
#u7059 {
  position:absolute;
  left:2px;
  top:12px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
}
#u7060 {
  position:absolute;
  left:184px;
  top:236px;
  width:127px;
  height:40px;
  text-align:center;
}
#u7061 {
  position:absolute;
  left:2px;
  top:12px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:40px;
}
#u7062 {
  position:absolute;
  left:311px;
  top:236px;
  width:119px;
  height:40px;
}
#u7063 {
  position:absolute;
  left:2px;
  top:12px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
}
#u7064 {
  position:absolute;
  left:430px;
  top:236px;
  width:169px;
  height:40px;
  text-align:center;
}
#u7065 {
  position:absolute;
  left:2px;
  top:12px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:40px;
}
#u7066 {
  position:absolute;
  left:0px;
  top:276px;
  width:46px;
  height:40px;
  text-align:center;
}
#u7067 {
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  word-wrap:break-word;
}
#u7068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:40px;
}
#u7068 {
  position:absolute;
  left:46px;
  top:276px;
  width:138px;
  height:40px;
  text-align:center;
}
#u7069 {
  position:absolute;
  left:2px;
  top:12px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
}
#u7070 {
  position:absolute;
  left:184px;
  top:276px;
  width:127px;
  height:40px;
  text-align:center;
}
#u7071 {
  position:absolute;
  left:2px;
  top:12px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:40px;
}
#u7072 {
  position:absolute;
  left:311px;
  top:276px;
  width:119px;
  height:40px;
}
#u7073 {
  position:absolute;
  left:2px;
  top:12px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
}
#u7074 {
  position:absolute;
  left:430px;
  top:276px;
  width:169px;
  height:40px;
  text-align:center;
}
#u7075 {
  position:absolute;
  left:2px;
  top:12px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:40px;
}
#u7076 {
  position:absolute;
  left:0px;
  top:316px;
  width:46px;
  height:40px;
  text-align:center;
}
#u7077 {
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  word-wrap:break-word;
}
#u7078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:40px;
}
#u7078 {
  position:absolute;
  left:46px;
  top:316px;
  width:138px;
  height:40px;
  text-align:center;
}
#u7079 {
  position:absolute;
  left:2px;
  top:12px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
}
#u7080 {
  position:absolute;
  left:184px;
  top:316px;
  width:127px;
  height:40px;
  text-align:center;
}
#u7081 {
  position:absolute;
  left:2px;
  top:12px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:40px;
}
#u7082 {
  position:absolute;
  left:311px;
  top:316px;
  width:119px;
  height:40px;
}
#u7083 {
  position:absolute;
  left:2px;
  top:12px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
}
#u7084 {
  position:absolute;
  left:430px;
  top:316px;
  width:169px;
  height:40px;
  text-align:center;
}
#u7085 {
  position:absolute;
  left:2px;
  top:12px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:40px;
}
#u7086 {
  position:absolute;
  left:0px;
  top:356px;
  width:46px;
  height:40px;
  text-align:center;
}
#u7087 {
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  word-wrap:break-word;
}
#u7088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:40px;
}
#u7088 {
  position:absolute;
  left:46px;
  top:356px;
  width:138px;
  height:40px;
  text-align:center;
}
#u7089 {
  position:absolute;
  left:2px;
  top:12px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
}
#u7090 {
  position:absolute;
  left:184px;
  top:356px;
  width:127px;
  height:40px;
  text-align:center;
}
#u7091 {
  position:absolute;
  left:2px;
  top:12px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:40px;
}
#u7092 {
  position:absolute;
  left:311px;
  top:356px;
  width:119px;
  height:40px;
}
#u7093 {
  position:absolute;
  left:2px;
  top:12px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
}
#u7094 {
  position:absolute;
  left:430px;
  top:356px;
  width:169px;
  height:40px;
  text-align:center;
}
#u7095 {
  position:absolute;
  left:2px;
  top:12px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:40px;
}
#u7096 {
  position:absolute;
  left:0px;
  top:396px;
  width:46px;
  height:40px;
  text-align:center;
}
#u7097 {
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  word-wrap:break-word;
}
#u7098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:40px;
}
#u7098 {
  position:absolute;
  left:46px;
  top:396px;
  width:138px;
  height:40px;
  text-align:center;
}
#u7099 {
  position:absolute;
  left:2px;
  top:12px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
}
#u7100 {
  position:absolute;
  left:184px;
  top:396px;
  width:127px;
  height:40px;
  text-align:center;
}
#u7101 {
  position:absolute;
  left:2px;
  top:12px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:40px;
}
#u7102 {
  position:absolute;
  left:311px;
  top:396px;
  width:119px;
  height:40px;
}
#u7103 {
  position:absolute;
  left:2px;
  top:12px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
}
#u7104 {
  position:absolute;
  left:430px;
  top:396px;
  width:169px;
  height:40px;
  text-align:center;
}
#u7105 {
  position:absolute;
  left:2px;
  top:12px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u7107 {
  position:absolute;
  left:69px;
  top:570px;
  width:99px;
  height:30px;
  color:#FF0000;
}
#u7108 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u7109 {
  position:absolute;
  left:184px;
  top:567px;
  width:41px;
  height:25px;
}
#u7109_input {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7110 {
  position:absolute;
  left:235px;
  top:567px;
  width:51px;
  height:25px;
}
#u7110_input {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7111 {
  position:absolute;
  left:294px;
  top:566px;
  width:46px;
  height:25px;
}
#u7111_input {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7112 {
  position:absolute;
  left:350px;
  top:566px;
  width:41px;
  height:25px;
}
#u7112_input {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7113 {
  position:absolute;
  left:401px;
  top:566px;
  width:17px;
  height:25px;
}
#u7113_input {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
  text-align:center;
}
#u7114 {
  position:absolute;
  left:424px;
  top:566px;
  width:17px;
  height:25px;
}
#u7114_input {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7115 {
  position:absolute;
  left:446px;
  top:566px;
  width:17px;
  height:25px;
}
#u7115_input {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7116 {
  position:absolute;
  left:481px;
  top:566px;
  width:17px;
  height:25px;
}
#u7116_input {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7117 {
  position:absolute;
  left:504px;
  top:566px;
  width:16px;
  height:25px;
}
#u7117_input {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u7118 {
  position:absolute;
  left:466px;
  top:569px;
  width:19px;
  height:22px;
  color:#FF0000;
}
#u7119 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
#u7120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u7120 {
  position:absolute;
  left:530px;
  top:572px;
  width:27px;
  height:22px;
  color:#000000;
}
#u7121 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u7122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u7122 {
  position:absolute;
  left:593px;
  top:572px;
  width:27px;
  height:22px;
  color:#000000;
}
#u7123 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u7124 {
  position:absolute;
  left:562px;
  top:566px;
  width:26px;
  height:25px;
}
#u7124_input {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7125 {
  position:absolute;
  left:10px;
  top:20px;
  width:760px;
  height:49px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7126 {
  position:absolute;
  left:2px;
  top:16px;
  width:756px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#6B6B6B;
  text-align:right;
}
#u7127 {
  position:absolute;
  left:61px;
  top:34px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#6B6B6B;
  text-align:right;
}
#u7128 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u7129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u7129 {
  position:absolute;
  left:128px;
  top:34px;
  width:160px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u7130 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
