body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:669px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7689 {
  position:absolute;
  left:70px;
  top:84px;
  width:604px;
  height:227px;
}
#u7690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
}
#u7690 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u7691 {
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
#u7692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:36px;
}
#u7692 {
  position:absolute;
  left:95px;
  top:0px;
  width:371px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u7693 {
  position:absolute;
  left:2px;
  top:10px;
  width:367px;
  word-wrap:break-word;
}
#u7694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:36px;
}
#u7694 {
  position:absolute;
  left:466px;
  top:0px;
  width:133px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u7695 {
  position:absolute;
  left:2px;
  top:10px;
  width:129px;
  word-wrap:break-word;
}
#u7696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
}
#u7696 {
  position:absolute;
  left:0px;
  top:36px;
  width:95px;
  height:36px;
  text-align:center;
}
#u7697 {
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
#u7698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:36px;
}
#u7698 {
  position:absolute;
  left:95px;
  top:36px;
  width:371px;
  height:36px;
  text-align:center;
}
#u7699 {
  position:absolute;
  left:2px;
  top:10px;
  width:367px;
  word-wrap:break-word;
}
#u7700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:36px;
}
#u7700 {
  position:absolute;
  left:466px;
  top:36px;
  width:133px;
  height:36px;
  text-align:center;
}
#u7701 {
  position:absolute;
  left:2px;
  top:10px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:50px;
}
#u7702 {
  position:absolute;
  left:0px;
  top:72px;
  width:95px;
  height:50px;
  text-align:center;
}
#u7703 {
  position:absolute;
  left:2px;
  top:17px;
  width:91px;
  word-wrap:break-word;
}
#u7704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:50px;
}
#u7704 {
  position:absolute;
  left:95px;
  top:72px;
  width:371px;
  height:50px;
  text-align:center;
}
#u7705 {
  position:absolute;
  left:2px;
  top:17px;
  width:367px;
  word-wrap:break-word;
}
#u7706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:50px;
}
#u7706 {
  position:absolute;
  left:466px;
  top:72px;
  width:133px;
  height:50px;
  text-align:center;
}
#u7707 {
  position:absolute;
  left:2px;
  top:17px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:50px;
}
#u7708 {
  position:absolute;
  left:0px;
  top:122px;
  width:95px;
  height:50px;
  text-align:center;
}
#u7709 {
  position:absolute;
  left:2px;
  top:17px;
  width:91px;
  word-wrap:break-word;
}
#u7710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:50px;
}
#u7710 {
  position:absolute;
  left:95px;
  top:122px;
  width:371px;
  height:50px;
  text-align:center;
}
#u7711 {
  position:absolute;
  left:2px;
  top:17px;
  width:367px;
  word-wrap:break-word;
}
#u7712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:50px;
}
#u7712 {
  position:absolute;
  left:466px;
  top:122px;
  width:133px;
  height:50px;
  text-align:center;
}
#u7713 {
  position:absolute;
  left:2px;
  top:17px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:50px;
}
#u7714 {
  position:absolute;
  left:0px;
  top:172px;
  width:95px;
  height:50px;
  text-align:center;
}
#u7715 {
  position:absolute;
  left:2px;
  top:17px;
  width:91px;
  word-wrap:break-word;
}
#u7716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:50px;
}
#u7716 {
  position:absolute;
  left:95px;
  top:172px;
  width:371px;
  height:50px;
  text-align:center;
}
#u7717 {
  position:absolute;
  left:2px;
  top:17px;
  width:367px;
  word-wrap:break-word;
}
#u7718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:50px;
}
#u7718 {
  position:absolute;
  left:466px;
  top:172px;
  width:133px;
  height:50px;
  text-align:center;
}
#u7719 {
  position:absolute;
  left:2px;
  top:17px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7720 {
  position:absolute;
  left:570px;
  top:232px;
  width:66px;
  height:25px;
}
#u7720_input {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
