body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1240px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7875 {
  position:absolute;
  left:82px;
  top:350px;
  width:1141px;
  height:125px;
}
#u7876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7876 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-align:right;
}
#u7877 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u7878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u7878 {
  position:absolute;
  left:100px;
  top:0px;
  width:184px;
  height:30px;
  text-align:left;
}
#u7879 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7880 {
  position:absolute;
  left:284px;
  top:0px;
  width:100px;
  height:30px;
  color:#FF0000;
  text-align:right;
}
#u7881 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u7882 {
  position:absolute;
  left:384px;
  top:0px;
  width:184px;
  height:30px;
  text-align:left;
}
#u7883 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7884 {
  position:absolute;
  left:568px;
  top:0px;
  width:100px;
  height:30px;
  text-align:right;
}
#u7885 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u7886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u7886 {
  position:absolute;
  left:668px;
  top:0px;
  width:184px;
  height:30px;
  text-align:left;
}
#u7887 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7888 {
  position:absolute;
  left:852px;
  top:0px;
  width:100px;
  height:30px;
  text-align:right;
}
#u7889 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u7890 {
  position:absolute;
  left:952px;
  top:0px;
  width:184px;
  height:30px;
  text-align:left;
}
#u7891 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7892 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  text-align:right;
}
#u7893 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u7894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u7894 {
  position:absolute;
  left:100px;
  top:30px;
  width:184px;
  height:30px;
  text-align:left;
}
#u7895 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7896 {
  position:absolute;
  left:284px;
  top:30px;
  width:100px;
  height:30px;
  text-align:right;
}
#u7897 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u7898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u7898 {
  position:absolute;
  left:384px;
  top:30px;
  width:184px;
  height:30px;
  text-align:left;
}
#u7899 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7900 {
  position:absolute;
  left:568px;
  top:30px;
  width:100px;
  height:30px;
  text-align:right;
}
#u7901 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u7902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u7902 {
  position:absolute;
  left:668px;
  top:30px;
  width:184px;
  height:30px;
  text-align:left;
}
#u7903 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7904 {
  position:absolute;
  left:852px;
  top:30px;
  width:100px;
  height:30px;
  text-align:right;
}
#u7905 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u7906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u7906 {
  position:absolute;
  left:952px;
  top:30px;
  width:184px;
  height:30px;
  text-align:left;
}
#u7907 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7908 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
  text-align:right;
}
#u7909 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u7910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u7910 {
  position:absolute;
  left:100px;
  top:60px;
  width:184px;
  height:30px;
  text-align:left;
}
#u7911 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7912 {
  position:absolute;
  left:284px;
  top:60px;
  width:100px;
  height:30px;
  text-align:right;
}
#u7913 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u7914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u7914 {
  position:absolute;
  left:384px;
  top:60px;
  width:184px;
  height:30px;
  text-align:left;
}
#u7915 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7916 {
  position:absolute;
  left:568px;
  top:60px;
  width:100px;
  height:30px;
  text-align:right;
}
#u7917 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u7918 {
  position:absolute;
  left:668px;
  top:60px;
  width:184px;
  height:30px;
  text-align:left;
}
#u7919 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7920 {
  position:absolute;
  left:852px;
  top:60px;
  width:100px;
  height:30px;
  text-align:right;
}
#u7921 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u7922 {
  position:absolute;
  left:952px;
  top:60px;
  width:184px;
  height:30px;
  text-align:left;
}
#u7923 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7924 {
  position:absolute;
  left:0px;
  top:90px;
  width:100px;
  height:30px;
  text-align:right;
}
#u7925 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u7926 {
  position:absolute;
  left:100px;
  top:90px;
  width:184px;
  height:30px;
  text-align:left;
}
#u7927 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7928 {
  position:absolute;
  left:284px;
  top:90px;
  width:100px;
  height:30px;
  text-align:right;
}
#u7929 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u7930 {
  position:absolute;
  left:384px;
  top:90px;
  width:184px;
  height:30px;
  text-align:left;
}
#u7931 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7932 {
  position:absolute;
  left:568px;
  top:90px;
  width:100px;
  height:30px;
  text-align:right;
}
#u7933 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u7934 {
  position:absolute;
  left:668px;
  top:90px;
  width:184px;
  height:30px;
  text-align:left;
}
#u7935 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7936 {
  position:absolute;
  left:852px;
  top:90px;
  width:100px;
  height:30px;
  text-align:right;
}
#u7937 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u7938 {
  position:absolute;
  left:952px;
  top:90px;
  width:184px;
  height:30px;
  text-align:left;
}
#u7939 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7940 {
  position:absolute;
  left:751px;
  top:351px;
  width:404px;
  height:28px;
}
#u7940_input {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7940_input {
  font-family:'应用字体';
}
#u7941 {
  position:absolute;
  left:183px;
  top:381px;
  width:120px;
  height:28px;
}
#u7941_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7941_input {
  font-family:'应用字体';
}
#u7942 {
  position:absolute;
  left:183px;
  top:351px;
  width:401px;
  height:28px;
}
#u7942_input {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7942_input {
  font-family:'应用字体';
}
#u7943 {
  position:absolute;
  left:183px;
  top:411px;
  width:120px;
  height:28px;
}
#u7943_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7943_input {
  font-family:'应用字体';
}
#u7943_input:disabled {
  color:grayText;
}
#u7944 {
  position:absolute;
  left:467px;
  top:411px;
  width:120px;
  height:28px;
}
#u7944_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u7944_input {
  font-family:'应用字体';
}
#u7945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:28px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u7945 {
  position:absolute;
  left:597px;
  top:411px;
  width:78px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u7945_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:28px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u7945.mouseOver {
}
#u7945_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:28px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-radius:4px;
  -moz-box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  -webkit-box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u7945.mouseDown {
}
#u7945_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:28px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u7945.disabled {
  opacity:0.5;
}
#u7946 {
  position:absolute;
  left:12px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u7947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:34px;
  background:inherit;
  background-color:rgba(102, 175, 233, 0.6);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7947 {
  position:absolute;
  left:60px;
  top:300px;
  width:1180px;
  height:34px;
}
#u7948 {
  position:absolute;
  left:2px;
  top:9px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u7949 {
  position:absolute;
  left:73px;
  top:306px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u7950 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7951 {
  position:absolute;
  left:467px;
  top:381px;
  width:120px;
  height:28px;
}
#u7951_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u7951_input {
  font-family:'应用字体';
}
#u7952 {
  position:absolute;
  left:751px;
  top:381px;
  width:120px;
  height:28px;
}
#u7952_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u7952_input {
  font-family:'应用字体';
}
#u7953 {
  position:absolute;
  left:1035px;
  top:381px;
  width:120px;
  height:28px;
}
#u7953_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7953_input {
  font-family:'应用字体';
}
#u7954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:16px;
}
#u7954 {
  position:absolute;
  left:100px;
  top:449px;
  width:367px;
  height:16px;
  color:#FF0000;
}
#u7955 {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  word-wrap:break-word;
}
#u7956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:45px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u7956 {
  position:absolute;
  left:328px;
  top:475px;
  width:160px;
  height:45px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u7956_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:45px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u7956.mouseOver {
}
#u7956_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:45px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-radius:4px;
  -moz-box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  -webkit-box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u7956.mouseDown {
}
#u7956_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:45px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u7956.disabled {
  opacity:0.5;
}
#u7957 {
  position:absolute;
  left:12px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u7958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u7958 {
  position:absolute;
  left:73px;
  top:608px;
  width:841px;
  height:16px;
  color:#FF0000;
}
#u7959 {
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  white-space:nowrap;
}
#u7961 {
  position:absolute;
  left:80px;
  top:80px;
  width:1141px;
  height:65px;
}
#u7962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7962 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  color:#000000;
  text-align:right;
}
#u7963 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u7964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u7964 {
  position:absolute;
  left:100px;
  top:0px;
  width:184px;
  height:30px;
  text-align:left;
}
#u7965 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7966 {
  position:absolute;
  left:284px;
  top:0px;
  width:100px;
  height:30px;
  color:#000000;
  text-align:right;
}
#u7967 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u7968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u7968 {
  position:absolute;
  left:384px;
  top:0px;
  width:184px;
  height:30px;
  text-align:left;
}
#u7969 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7970 {
  position:absolute;
  left:568px;
  top:0px;
  width:100px;
  height:30px;
  color:#000000;
  text-align:right;
}
#u7971 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u7972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u7972 {
  position:absolute;
  left:668px;
  top:0px;
  width:184px;
  height:30px;
  text-align:left;
}
#u7973 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7974 {
  position:absolute;
  left:852px;
  top:0px;
  width:100px;
  height:30px;
  text-align:right;
}
#u7975 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u7976 {
  position:absolute;
  left:952px;
  top:0px;
  width:184px;
  height:30px;
  text-align:left;
}
#u7977 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7978 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  color:#1E1E1E;
  text-align:right;
}
#u7979 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u7980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u7980 {
  position:absolute;
  left:100px;
  top:30px;
  width:184px;
  height:30px;
  text-align:left;
}
#u7981 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7982 {
  position:absolute;
  left:284px;
  top:30px;
  width:100px;
  height:30px;
  color:#1E1E1E;
  text-align:right;
}
#u7983 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u7984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u7984 {
  position:absolute;
  left:384px;
  top:30px;
  width:184px;
  height:30px;
  text-align:left;
}
#u7985 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7986 {
  position:absolute;
  left:568px;
  top:30px;
  width:100px;
  height:30px;
  color:#1E1E1E;
  text-align:right;
}
#u7987 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u7988 {
  position:absolute;
  left:668px;
  top:30px;
  width:184px;
  height:30px;
  text-align:left;
}
#u7989 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7990 {
  position:absolute;
  left:852px;
  top:30px;
  width:100px;
  height:30px;
  text-align:right;
}
#u7991 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u7992 {
  position:absolute;
  left:952px;
  top:30px;
  width:184px;
  height:30px;
  text-align:left;
}
#u7993 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:34px;
  background:inherit;
  background-color:rgba(102, 175, 233, 0.6);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7994 {
  position:absolute;
  left:60px;
  top:30px;
  width:1180px;
  height:34px;
}
#u7995 {
  position:absolute;
  left:2px;
  top:9px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u7996 {
  position:absolute;
  left:73px;
  top:36px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u7997 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7998 {
  position:absolute;
  left:181px;
  top:81px;
  width:134px;
  height:28px;
}
#u7998_input {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7998_input {
  font-family:'应用字体';
}
#u7999 {
  position:absolute;
  left:749px;
  top:81px;
  width:120px;
  height:28px;
}
#u7999_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7999_input {
  font-family:'应用字体';
}
#u7999_input:disabled {
  color:grayText;
}
#u8000 {
  position:absolute;
  left:181px;
  top:110px;
  width:120px;
  height:28px;
}
#u8000_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u8000_input {
  font-family:'应用字体';
}
#u8000_input:disabled {
  color:grayText;
}
#u8001 {
  position:absolute;
  left:465px;
  top:110px;
  width:120px;
  height:28px;
}
#u8001_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u8001_input {
  font-family:'应用字体';
}
#u8001_input:disabled {
  color:grayText;
}
#u8002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u8002 {
  position:absolute;
  left:311px;
  top:110px;
  width:50px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u8002_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u8002.mouseOver {
}
#u8002_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-radius:4px;
  -moz-box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  -webkit-box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u8002.mouseDown {
}
#u8002_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u8002.disabled {
  opacity:0.5;
}
#u8003 {
  position:absolute;
  left:12px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u8004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u8004 {
  position:absolute;
  left:593px;
  top:110px;
  width:50px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u8004_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u8004.mouseOver {
}
#u8004_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-radius:4px;
  -moz-box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  -webkit-box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u8004.mouseDown {
}
#u8004_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u8004.disabled {
  opacity:0.5;
}
#u8005 {
  position:absolute;
  left:12px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u8006 {
  position:absolute;
  left:465px;
  top:81px;
  width:120px;
  height:28px;
}
#u8006_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u8006_input {
  font-family:'应用字体';
}
#u8006_input:disabled {
  color:grayText;
}
#u8008 {
  position:absolute;
  left:80px;
  top:200px;
  width:1141px;
  height:95px;
}
#u8009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8009 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-align:right;
}
#u8010 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u8011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u8011 {
  position:absolute;
  left:100px;
  top:0px;
  width:184px;
  height:30px;
  text-align:left;
}
#u8012 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8013 {
  position:absolute;
  left:284px;
  top:0px;
  width:100px;
  height:30px;
  text-align:right;
}
#u8014 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u8015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u8015 {
  position:absolute;
  left:384px;
  top:0px;
  width:184px;
  height:30px;
  text-align:left;
}
#u8016 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8017 {
  position:absolute;
  left:568px;
  top:0px;
  width:100px;
  height:30px;
  text-align:right;
}
#u8018 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u8019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u8019 {
  position:absolute;
  left:668px;
  top:0px;
  width:184px;
  height:30px;
  text-align:left;
}
#u8020 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8021 {
  position:absolute;
  left:852px;
  top:0px;
  width:100px;
  height:30px;
  color:#FF0000;
  text-align:right;
}
#u8022 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u8023 {
  position:absolute;
  left:952px;
  top:0px;
  width:184px;
  height:30px;
  text-align:left;
}
#u8024 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8025 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  text-align:right;
}
#u8026 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u8027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u8027 {
  position:absolute;
  left:100px;
  top:30px;
  width:184px;
  height:30px;
  text-align:left;
}
#u8028 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8029 {
  position:absolute;
  left:284px;
  top:30px;
  width:100px;
  height:30px;
  text-align:right;
}
#u8030 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u8031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u8031 {
  position:absolute;
  left:384px;
  top:30px;
  width:184px;
  height:30px;
  text-align:left;
}
#u8032 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8033 {
  position:absolute;
  left:568px;
  top:30px;
  width:100px;
  height:30px;
  color:#000000;
  text-align:right;
}
#u8034 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u8035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u8035 {
  position:absolute;
  left:668px;
  top:30px;
  width:184px;
  height:30px;
  text-align:left;
}
#u8036 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8037 {
  position:absolute;
  left:852px;
  top:30px;
  width:100px;
  height:30px;
  color:#FF0000;
  text-align:right;
}
#u8038 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u8039 {
  position:absolute;
  left:952px;
  top:30px;
  width:184px;
  height:30px;
  text-align:left;
}
#u8040 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8041 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
  text-align:right;
}
#u8042 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u8043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u8043 {
  position:absolute;
  left:100px;
  top:60px;
  width:184px;
  height:30px;
  text-align:left;
}
#u8044 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8045 {
  position:absolute;
  left:284px;
  top:60px;
  width:100px;
  height:30px;
  text-align:right;
}
#u8046 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u8047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u8047 {
  position:absolute;
  left:384px;
  top:60px;
  width:184px;
  height:30px;
  text-align:left;
}
#u8048 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8049 {
  position:absolute;
  left:568px;
  top:60px;
  width:100px;
  height:30px;
  color:#000000;
  text-align:right;
}
#u8050 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u8051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u8051 {
  position:absolute;
  left:668px;
  top:60px;
  width:184px;
  height:30px;
  text-align:left;
}
#u8052 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8053 {
  position:absolute;
  left:852px;
  top:60px;
  width:100px;
  height:30px;
  color:#FF0000;
  text-align:right;
}
#u8054 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u8055 {
  position:absolute;
  left:952px;
  top:60px;
  width:184px;
  height:30px;
  text-align:left;
}
#u8056 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8057 {
  position:absolute;
  left:749px;
  top:201px;
  width:166px;
  height:28px;
}
#u8057_input {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8057_input {
  font-family:'应用字体';
}
#u8058 {
  position:absolute;
  left:465px;
  top:201px;
  width:120px;
  height:28px;
}
#u8058_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u8058_input {
  font-family:'应用字体';
}
#u8058_input:disabled {
  color:grayText;
}
#u8059 {
  position:absolute;
  left:181px;
  top:201px;
  width:120px;
  height:28px;
}
#u8059_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8059_input {
  font-family:'应用字体';
}
#u8060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:34px;
  background:inherit;
  background-color:rgba(102, 175, 233, 0.6);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8060 {
  position:absolute;
  left:60px;
  top:150px;
  width:1180px;
  height:34px;
}
#u8061 {
  position:absolute;
  left:2px;
  top:9px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u8062 {
  position:absolute;
  left:73px;
  top:156px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u8063 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8064 {
  position:absolute;
  left:181px;
  top:261px;
  width:179px;
  height:28px;
}
#u8064_input {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8064_input {
  font-family:'应用字体';
}
#u8065 {
  position:absolute;
  left:465px;
  top:261px;
  width:170px;
  height:28px;
}
#u8065_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8065_input {
  font-family:'应用字体';
}
#u8066 {
  position:absolute;
  left:181px;
  top:231px;
  width:120px;
  height:28px;
}
#u8066_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8066_input {
  font-family:'应用字体';
}
#u8067 {
  position:absolute;
  left:466px;
  top:231px;
  width:169px;
  height:28px;
}
#u8067_input {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8067_input {
  font-family:'应用字体';
}
#u8068 {
  position:absolute;
  left:749px;
  top:231px;
  width:336px;
  height:28px;
}
#u8068_input {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8068_input {
  font-family:'应用字体';
}
#u8069 {
  position:absolute;
  left:749px;
  top:261px;
  width:120px;
  height:28px;
}
#u8069_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8069_input {
  font-family:'应用字体';
}
