body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:710px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:695px;
  height:2181px;
}
#u4834 {
  position:absolute;
  left:15px;
  top:9px;
  width:695px;
  height:2181px;
}
#u4835 {
  position:absolute;
  left:2px;
  top:1082px;
  width:691px;
  visibility:hidden;
  word-wrap:break-word;
}
