body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1263px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2596 {
  position:absolute;
  left:42px;
  top:15px;
  width:1141px;
  height:35px;
}
#u2597_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2597 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-align:right;
}
#u2598 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2599_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2599 {
  position:absolute;
  left:100px;
  top:0px;
  width:184px;
  height:30px;
  text-align:left;
}
#u2600 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2601_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2601 {
  position:absolute;
  left:284px;
  top:0px;
  width:100px;
  height:30px;
  color:#FF0000;
  text-align:right;
}
#u2602 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2603_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2603 {
  position:absolute;
  left:384px;
  top:0px;
  width:184px;
  height:30px;
  text-align:left;
}
#u2604 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2605_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2605 {
  position:absolute;
  left:568px;
  top:0px;
  width:100px;
  height:30px;
  text-align:right;
}
#u2606 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2607_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2607 {
  position:absolute;
  left:668px;
  top:0px;
  width:184px;
  height:30px;
  text-align:left;
}
#u2608 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2609_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2609 {
  position:absolute;
  left:852px;
  top:0px;
  width:100px;
  height:30px;
  text-align:right;
}
#u2610 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2611_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2611 {
  position:absolute;
  left:952px;
  top:0px;
  width:184px;
  height:30px;
  text-align:left;
}
#u2612 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2613 {
  position:absolute;
  left:143px;
  top:16px;
  width:429px;
  height:28px;
}
#u2613_input {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#949494;
  text-align:left;
}
#u2613_input {
  font-family:'应用字体';
}
#u2614_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2614 {
  position:absolute;
  left:586px;
  top:16px;
  width:81px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2614_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2614.mouseOver {
}
#u2614_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-radius:4px;
  -moz-box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  -webkit-box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2614.mouseDown {
}
#u2614_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2614.disabled {
  opacity:0.5;
}
#u2615 {
  position:absolute;
  left:12px;
  top:4px;
  width:57px;
  word-wrap:break-word;
}
#u2616 {
  position:absolute;
  left:42px;
  top:80px;
  width:1226px;
  height:125px;
}
#u2617_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
}
#u2617 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
  color:#1E1E1E;
}
#u2618 {
  position:absolute;
  left:2px;
  top:7px;
  width:236px;
  word-wrap:break-word;
}
#u2619_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u2619 {
  position:absolute;
  left:240px;
  top:0px;
  width:300px;
  height:30px;
  color:#1E1E1E;
}
#u2620 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u2621_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u2621 {
  position:absolute;
  left:540px;
  top:0px;
  width:140px;
  height:30px;
  color:#1E1E1E;
}
#u2622 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u2623_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u2623 {
  position:absolute;
  left:680px;
  top:0px;
  width:140px;
  height:30px;
  color:#1E1E1E;
}
#u2624 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u2625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u2625 {
  position:absolute;
  left:820px;
  top:0px;
  width:120px;
  height:30px;
  color:#000000;
}
#u2626 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u2627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u2627 {
  position:absolute;
  left:940px;
  top:0px;
  width:120px;
  height:30px;
  color:#000000;
}
#u2628 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u2629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u2629 {
  position:absolute;
  left:1060px;
  top:0px;
  width:81px;
  height:30px;
  color:#000000;
}
#u2630 {
  position:absolute;
  left:2px;
  top:7px;
  width:77px;
  word-wrap:break-word;
}
#u2631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u2631 {
  position:absolute;
  left:1141px;
  top:0px;
  width:80px;
  height:30px;
  color:#000000;
}
#u2632 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u2633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
}
#u2633 {
  position:absolute;
  left:0px;
  top:30px;
  width:240px;
  height:30px;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u2634 {
  position:absolute;
  left:2px;
  top:8px;
  width:236px;
  word-wrap:break-word;
}
#u2635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u2635 {
  position:absolute;
  left:240px;
  top:30px;
  width:300px;
  height:30px;
  text-align:left;
}
#u2636 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u2637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u2637 {
  position:absolute;
  left:540px;
  top:30px;
  width:140px;
  height:30px;
  text-align:left;
}
#u2638 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u2639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u2639 {
  position:absolute;
  left:680px;
  top:30px;
  width:140px;
  height:30px;
  text-align:left;
}
#u2640 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u2641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u2641 {
  position:absolute;
  left:820px;
  top:30px;
  width:120px;
  height:30px;
  text-align:right;
}
#u2642 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u2643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u2643 {
  position:absolute;
  left:940px;
  top:30px;
  width:120px;
  height:30px;
  text-align:right;
}
#u2644 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u2645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u2645 {
  position:absolute;
  left:1060px;
  top:30px;
  width:81px;
  height:30px;
  text-align:right;
}
#u2646 {
  position:absolute;
  left:2px;
  top:7px;
  width:77px;
  word-wrap:break-word;
}
#u2647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u2647 {
  position:absolute;
  left:1141px;
  top:30px;
  width:80px;
  height:30px;
  text-align:right;
}
#u2648 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
}
#u2649 {
  position:absolute;
  left:0px;
  top:60px;
  width:240px;
  height:30px;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u2650 {
  position:absolute;
  left:2px;
  top:8px;
  width:236px;
  word-wrap:break-word;
}
#u2651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u2651 {
  position:absolute;
  left:240px;
  top:60px;
  width:300px;
  height:30px;
  text-align:left;
}
#u2652 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u2653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u2653 {
  position:absolute;
  left:540px;
  top:60px;
  width:140px;
  height:30px;
  text-align:left;
}
#u2654 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u2655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u2655 {
  position:absolute;
  left:680px;
  top:60px;
  width:140px;
  height:30px;
  text-align:left;
}
#u2656 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u2657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u2657 {
  position:absolute;
  left:820px;
  top:60px;
  width:120px;
  height:30px;
  text-align:right;
}
#u2658 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u2659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u2659 {
  position:absolute;
  left:940px;
  top:60px;
  width:120px;
  height:30px;
  text-align:right;
}
#u2660 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u2661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u2661 {
  position:absolute;
  left:1060px;
  top:60px;
  width:81px;
  height:30px;
  text-align:right;
}
#u2662 {
  position:absolute;
  left:2px;
  top:7px;
  width:77px;
  word-wrap:break-word;
}
#u2663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u2663 {
  position:absolute;
  left:1141px;
  top:60px;
  width:80px;
  height:30px;
  text-align:right;
}
#u2664 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
}
#u2665 {
  position:absolute;
  left:0px;
  top:90px;
  width:240px;
  height:30px;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u2666 {
  position:absolute;
  left:2px;
  top:8px;
  width:236px;
  word-wrap:break-word;
}
#u2667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u2667 {
  position:absolute;
  left:240px;
  top:90px;
  width:300px;
  height:30px;
  text-align:left;
}
#u2668 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u2669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u2669 {
  position:absolute;
  left:540px;
  top:90px;
  width:140px;
  height:30px;
  text-align:left;
}
#u2670 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u2671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u2671 {
  position:absolute;
  left:680px;
  top:90px;
  width:140px;
  height:30px;
  text-align:left;
}
#u2672 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u2673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u2673 {
  position:absolute;
  left:820px;
  top:90px;
  width:120px;
  height:30px;
  text-align:right;
}
#u2674 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u2675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u2675 {
  position:absolute;
  left:940px;
  top:90px;
  width:120px;
  height:30px;
  text-align:right;
}
#u2676 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u2677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u2677 {
  position:absolute;
  left:1060px;
  top:90px;
  width:81px;
  height:30px;
  text-align:right;
}
#u2678 {
  position:absolute;
  left:2px;
  top:7px;
  width:77px;
  word-wrap:break-word;
}
#u2679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u2679 {
  position:absolute;
  left:1141px;
  top:90px;
  width:80px;
  height:30px;
  text-align:right;
}
#u2680 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2681 {
  position:absolute;
  left:1197px;
  top:111px;
  width:50px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2681_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2681.mouseOver {
}
#u2681_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-radius:4px;
  -moz-box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  -webkit-box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2681.mouseDown {
}
#u2681_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2681.disabled {
  opacity:0.5;
}
#u2682 {
  position:absolute;
  left:12px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u2683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2683 {
  position:absolute;
  left:1197px;
  top:141px;
  width:50px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2683_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2683.mouseOver {
}
#u2683_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-radius:4px;
  -moz-box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  -webkit-box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2683.mouseDown {
}
#u2683_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2683.disabled {
  opacity:0.5;
}
#u2684 {
  position:absolute;
  left:12px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u2685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2685 {
  position:absolute;
  left:1197px;
  top:171px;
  width:50px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2685_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2685.mouseOver {
}
#u2685_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-radius:4px;
  -moz-box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  -webkit-box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2685.mouseDown {
}
#u2685_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2685.disabled {
  opacity:0.5;
}
#u2686 {
  position:absolute;
  left:12px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
