body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:772px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u7711 {
  position:absolute;
  left:279px;
  top:305px;
  width:82px;
  height:22px;
  text-align:right;
}
#u7712 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u7713 {
  position:absolute;
  left:381px;
  top:296px;
  width:69px;
  height:40px;
}
#u7713_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7714 {
  position:absolute;
  left:162px;
  top:93px;
  width:398px;
  height:40px;
}
#u7714_input {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u7715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u7715 {
  position:absolute;
  left:100px;
  top:107px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u7716 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u7717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u7717 {
  position:absolute;
  left:126px;
  top:162px;
  width:27px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u7718 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u7719 {
  position:absolute;
  left:110px;
  top:340px;
  width:264px;
  height:141px;
}
#u7720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
}
#u7720 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u7721 {
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u7722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u7722 {
  position:absolute;
  left:127px;
  top:0px;
  width:132px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u7723 {
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u7724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:50px;
}
#u7724 {
  position:absolute;
  left:0px;
  top:36px;
  width:127px;
  height:50px;
  text-align:center;
}
#u7725 {
  position:absolute;
  left:2px;
  top:17px;
  width:123px;
  word-wrap:break-word;
}
#u7726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:50px;
}
#u7726 {
  position:absolute;
  left:127px;
  top:36px;
  width:132px;
  height:50px;
  text-align:center;
}
#u7727 {
  position:absolute;
  left:2px;
  top:17px;
  width:128px;
  word-wrap:break-word;
}
#u7728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:50px;
}
#u7728 {
  position:absolute;
  left:0px;
  top:86px;
  width:127px;
  height:50px;
  text-align:center;
}
#u7729 {
  position:absolute;
  left:2px;
  top:17px;
  width:123px;
  word-wrap:break-word;
}
#u7730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:50px;
}
#u7730 {
  position:absolute;
  left:127px;
  top:86px;
  width:132px;
  height:50px;
  text-align:center;
}
#u7731 {
  position:absolute;
  left:2px;
  top:17px;
  width:128px;
  word-wrap:break-word;
}
#u7732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7732 {
  position:absolute;
  left:62px;
  top:443px;
  width:20px;
  height:20px;
}
#u7733 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7734 {
  position:absolute;
  left:62px;
  top:496px;
  width:20px;
  height:20px;
}
#u7735 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7736 {
  position:absolute;
  left:62px;
  top:398px;
  width:20px;
  height:20px;
}
#u7737 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7738 {
  position:absolute;
  left:164px;
  top:150px;
  width:398px;
  height:40px;
}
#u7738_input {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u7739 {
  position:absolute;
  left:162px;
  top:37px;
  width:398px;
  height:40px;
}
#u7739_input {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u7740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u7740 {
  position:absolute;
  left:126px;
  top:51px;
  width:27px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u7741 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u7742 {
  position:absolute;
  left:162px;
  top:205px;
  width:400px;
  height:40px;
}
#u7742_input {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u7743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u7743 {
  position:absolute;
  left:100px;
  top:219px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u7744 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u7745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:230px;
  background:inherit;
  background-color:rgba(204, 255, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u7745 {
  position:absolute;
  left:572px;
  top:233px;
  width:200px;
  height:230px;
}
#u7746 {
  position:absolute;
  left:10px;
  top:10px;
  width:180px;
  word-wrap:break-word;
}
