body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1178px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2818 {
  position:absolute;
  left:42px;
  top:15px;
  width:1141px;
  height:35px;
}
#u2819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2819 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-align:right;
}
#u2820 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2821 {
  position:absolute;
  left:100px;
  top:0px;
  width:184px;
  height:30px;
  text-align:left;
}
#u2822 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2823 {
  position:absolute;
  left:284px;
  top:0px;
  width:100px;
  height:30px;
  color:#FF0000;
  text-align:right;
}
#u2824 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2825 {
  position:absolute;
  left:384px;
  top:0px;
  width:184px;
  height:30px;
  text-align:left;
}
#u2826 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2827 {
  position:absolute;
  left:568px;
  top:0px;
  width:100px;
  height:30px;
  text-align:right;
}
#u2828 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2829 {
  position:absolute;
  left:668px;
  top:0px;
  width:184px;
  height:30px;
  text-align:left;
}
#u2830 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2831 {
  position:absolute;
  left:852px;
  top:0px;
  width:100px;
  height:30px;
  text-align:right;
}
#u2832 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u2833 {
  position:absolute;
  left:952px;
  top:0px;
  width:184px;
  height:30px;
  text-align:left;
}
#u2834 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2835 {
  position:absolute;
  left:143px;
  top:16px;
  width:429px;
  height:28px;
}
#u2835_input {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#949494;
  text-align:left;
}
#u2835_input {
  font-family:'应用字体';
}
#u2836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2836 {
  position:absolute;
  left:586px;
  top:16px;
  width:81px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2836_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2836.mouseOver {
}
#u2836_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-radius:4px;
  -moz-box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  -webkit-box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2836.mouseDown {
}
#u2836_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2836.disabled {
  opacity:0.5;
}
#u2837 {
  position:absolute;
  left:12px;
  top:4px;
  width:57px;
  word-wrap:break-word;
}
#u2838 {
  position:absolute;
  left:42px;
  top:80px;
  width:1086px;
  height:125px;
}
#u2839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u2839 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  color:#1E1E1E;
}
#u2840 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u2841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u2841 {
  position:absolute;
  left:80px;
  top:0px;
  width:300px;
  height:30px;
  color:#1E1E1E;
}
#u2842 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u2843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u2843 {
  position:absolute;
  left:380px;
  top:0px;
  width:140px;
  height:30px;
  color:#1E1E1E;
}
#u2844 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u2845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u2845 {
  position:absolute;
  left:520px;
  top:0px;
  width:140px;
  height:30px;
  color:#1E1E1E;
}
#u2846 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u2847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u2847 {
  position:absolute;
  left:660px;
  top:0px;
  width:120px;
  height:30px;
  color:#000000;
}
#u2848 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u2849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u2849 {
  position:absolute;
  left:780px;
  top:0px;
  width:120px;
  height:30px;
  color:#000000;
}
#u2850 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u2851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u2851 {
  position:absolute;
  left:900px;
  top:0px;
  width:81px;
  height:30px;
  color:#000000;
}
#u2852 {
  position:absolute;
  left:2px;
  top:7px;
  width:77px;
  word-wrap:break-word;
}
#u2853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2853 {
  position:absolute;
  left:981px;
  top:0px;
  width:100px;
  height:30px;
  color:#000000;
}
#u2854 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u2855 {
  position:absolute;
  left:0px;
  top:30px;
  width:80px;
  height:30px;
  text-align:left;
}
#u2856 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u2857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u2857 {
  position:absolute;
  left:80px;
  top:30px;
  width:300px;
  height:30px;
  text-align:left;
}
#u2858 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u2859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u2859 {
  position:absolute;
  left:380px;
  top:30px;
  width:140px;
  height:30px;
  text-align:left;
}
#u2860 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u2861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u2861 {
  position:absolute;
  left:520px;
  top:30px;
  width:140px;
  height:30px;
  text-align:left;
}
#u2862 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u2863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u2863 {
  position:absolute;
  left:660px;
  top:30px;
  width:120px;
  height:30px;
  text-align:right;
}
#u2864 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u2865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u2865 {
  position:absolute;
  left:780px;
  top:30px;
  width:120px;
  height:30px;
  text-align:right;
}
#u2866 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u2867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u2867 {
  position:absolute;
  left:900px;
  top:30px;
  width:81px;
  height:30px;
  text-align:right;
}
#u2868 {
  position:absolute;
  left:2px;
  top:7px;
  width:77px;
  word-wrap:break-word;
}
#u2869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2869 {
  position:absolute;
  left:981px;
  top:30px;
  width:100px;
  height:30px;
  text-align:right;
}
#u2870 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u2871 {
  position:absolute;
  left:0px;
  top:60px;
  width:80px;
  height:30px;
  text-align:left;
}
#u2872 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u2873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u2873 {
  position:absolute;
  left:80px;
  top:60px;
  width:300px;
  height:30px;
  text-align:left;
}
#u2874 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u2875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u2875 {
  position:absolute;
  left:380px;
  top:60px;
  width:140px;
  height:30px;
  text-align:left;
}
#u2876 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u2877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u2877 {
  position:absolute;
  left:520px;
  top:60px;
  width:140px;
  height:30px;
  text-align:left;
}
#u2878 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u2879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u2879 {
  position:absolute;
  left:660px;
  top:60px;
  width:120px;
  height:30px;
  text-align:right;
}
#u2880 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u2881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u2881 {
  position:absolute;
  left:780px;
  top:60px;
  width:120px;
  height:30px;
  text-align:right;
}
#u2882 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u2883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u2883 {
  position:absolute;
  left:900px;
  top:60px;
  width:81px;
  height:30px;
  text-align:right;
}
#u2884 {
  position:absolute;
  left:2px;
  top:7px;
  width:77px;
  word-wrap:break-word;
}
#u2885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2885 {
  position:absolute;
  left:981px;
  top:60px;
  width:100px;
  height:30px;
  text-align:right;
}
#u2886 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u2887 {
  position:absolute;
  left:0px;
  top:90px;
  width:80px;
  height:30px;
  text-align:left;
}
#u2888 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u2889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u2889 {
  position:absolute;
  left:80px;
  top:90px;
  width:300px;
  height:30px;
  text-align:left;
}
#u2890 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u2891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u2891 {
  position:absolute;
  left:380px;
  top:90px;
  width:140px;
  height:30px;
  text-align:left;
}
#u2892 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u2893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u2893 {
  position:absolute;
  left:520px;
  top:90px;
  width:140px;
  height:30px;
  text-align:left;
}
#u2894 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u2895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u2895 {
  position:absolute;
  left:660px;
  top:90px;
  width:120px;
  height:30px;
  text-align:right;
}
#u2896 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u2897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u2897 {
  position:absolute;
  left:780px;
  top:90px;
  width:120px;
  height:30px;
  text-align:right;
}
#u2898 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u2899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u2899 {
  position:absolute;
  left:900px;
  top:90px;
  width:81px;
  height:30px;
  text-align:right;
}
#u2900 {
  position:absolute;
  left:2px;
  top:7px;
  width:77px;
  word-wrap:break-word;
}
#u2901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2901 {
  position:absolute;
  left:981px;
  top:90px;
  width:100px;
  height:30px;
  text-align:right;
}
#u2902 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:28px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2903 {
  position:absolute;
  left:1038px;
  top:111px;
  width:77px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2903_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:28px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2903.mouseOver {
}
#u2903_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:28px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-radius:4px;
  -moz-box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  -webkit-box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2903.mouseDown {
}
#u2903_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:28px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2903.disabled {
  opacity:0.5;
}
#u2904 {
  position:absolute;
  left:12px;
  top:4px;
  width:53px;
  word-wrap:break-word;
}
#u2905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:28px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2905 {
  position:absolute;
  left:1038px;
  top:141px;
  width:77px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2905_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:28px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2905.mouseOver {
}
#u2905_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:28px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-radius:4px;
  -moz-box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  -webkit-box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2905.mouseDown {
}
#u2905_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:28px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2905.disabled {
  opacity:0.5;
}
#u2906 {
  position:absolute;
  left:12px;
  top:4px;
  width:53px;
  word-wrap:break-word;
}
#u2907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:28px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2907 {
  position:absolute;
  left:1038px;
  top:171px;
  width:77px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2907_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:28px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2907.mouseOver {
}
#u2907_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:28px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-radius:4px;
  -moz-box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  -webkit-box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2907.mouseDown {
}
#u2907_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:28px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2907.disabled {
  opacity:0.5;
}
#u2908 {
  position:absolute;
  left:12px;
  top:4px;
  width:53px;
  word-wrap:break-word;
}
