body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1033px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1033px;
  height:614px;
}
#u243 {
  position:absolute;
  left:0px;
  top:0px;
  width:1033px;
  height:614px;
}
#u244 {
  position:absolute;
  left:2px;
  top:299px;
  width:1029px;
  visibility:hidden;
  word-wrap:break-word;
}
