body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:667px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17611_div {
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF9933;
}
#u17611 {
  position:absolute;
  left:93px;
  top:40px;
  width:574px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF9933;
}
#u17612 {
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  word-wrap:break-word;
}
#u17613_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:28px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u17613 {
  position:absolute;
  left:183px;
  top:139px;
  width:125px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u17613_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:28px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u17613.mouseOver {
}
#u17613_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:28px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-radius:4px;
  -moz-box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  -webkit-box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u17613.mouseDown {
}
#u17613_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:28px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u17613.disabled {
  opacity:0.5;
}
#u17614 {
  position:absolute;
  left:12px;
  top:4px;
  width:101px;
  word-wrap:break-word;
}
#u17615_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:28px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u17615 {
  position:absolute;
  left:348px;
  top:139px;
  width:125px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u17615_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:28px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u17615.mouseOver {
}
#u17615_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:28px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-radius:4px;
  -moz-box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  -webkit-box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u17615.mouseDown {
}
#u17615_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:28px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u17615.disabled {
  opacity:0.5;
}
#u17616 {
  position:absolute;
  left:12px;
  top:4px;
  width:101px;
  word-wrap:break-word;
}
#u17617_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:16px;
}
#u17617 {
  position:absolute;
  left:183px;
  top:177px;
  width:227px;
  height:16px;
  color:#FF0000;
}
#u17618 {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  word-wrap:break-word;
}
