body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u5208 {
  position:absolute;
  left:20px;
  top:20px;
  width:328px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u5209 {
  position:absolute;
  left:2px;
  top:4px;
  width:324px;
  word-wrap:break-word;
}
#u5210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u5210 {
  position:absolute;
  left:346px;
  top:20px;
  width:329px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u5211 {
  position:absolute;
  left:2px;
  top:4px;
  width:325px;
  word-wrap:break-word;
}
#u5212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u5212 {
  position:absolute;
  left:674px;
  top:20px;
  width:329px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u5213 {
  position:absolute;
  left:2px;
  top:4px;
  width:325px;
  word-wrap:break-word;
}
#u5214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u5214 {
  position:absolute;
  left:1001px;
  top:20px;
  width:329px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u5215 {
  position:absolute;
  left:2px;
  top:4px;
  width:325px;
  word-wrap:break-word;
}
#u5216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u5216 {
  position:absolute;
  left:20px;
  top:93px;
  width:1030px;
  height:40px;
  color:#FF0000;
}
#u5217 {
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  word-wrap:break-word;
}
#u5218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:896px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5218 {
  position:absolute;
  left:20px;
  top:123px;
  width:880px;
  height:896px;
}
#u5219 {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  word-wrap:break-word;
}
#u5220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9900;
}
#u5220 {
  position:absolute;
  left:20px;
  top:1077px;
  width:313px;
  height:16px;
  color:#FF9900;
}
#u5221 {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  white-space:nowrap;
}
#u5222 {
  position:absolute;
  left:410px;
  top:1102px;
  width:142px;
  height:45px;
}
#u5222_input {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:underline;
  color:#000000;
  text-align:center;
}
#u5223 {
  position:absolute;
  left:220px;
  top:1102px;
  width:142px;
  height:45px;
}
#u5223_input {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:underline;
  color:#000000;
  text-align:center;
}
#u5224 {
  position:absolute;
  left:594px;
  top:1102px;
  width:142px;
  height:45px;
}
#u5224_input {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:underline;
  color:#000000;
  text-align:center;
}
#u5225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u5225 {
  position:absolute;
  left:20px;
  top:69px;
  width:75px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u5226 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u5227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5227 {
  position:absolute;
  left:105px;
  top:69px;
  width:22px;
  height:16px;
}
#u5228 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u5229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u5229 {
  position:absolute;
  left:293px;
  top:69px;
  width:49px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u5230 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5231 {
  position:absolute;
  left:351px;
  top:69px;
  width:19px;
  height:16px;
}
#u5232 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u5233 {
  position:absolute;
  left:774px;
  top:1102px;
  width:142px;
  height:45px;
}
#u5233_input {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:underline;
  color:#000000;
  text-align:center;
}
#u5234 {
  position:absolute;
  left:127px;
  top:69px;
  width:733px;
  height:941px;
  overflow:hidden;
}
#u5234_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:733px;
  height:941px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5234_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:941px;
}
#u5235 {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:941px;
}
#u5236 {
  position:absolute;
  left:2px;
  top:462px;
  width:726px;
  visibility:hidden;
  word-wrap:break-word;
}
