body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:895px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:845px;
  height:935px;
}
#u5129 {
  position:absolute;
  left:50px;
  top:15px;
  width:845px;
  height:935px;
}
#u5130 {
  position:absolute;
  left:2px;
  top:460px;
  width:841px;
  visibility:hidden;
  word-wrap:break-word;
}
