body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1040px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7079 {
  position:absolute;
  left:183px;
  top:470px;
  width:140px;
  height:38px;
}
#u7079_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7080 {
  position:absolute;
  left:417px;
  top:470px;
  width:140px;
  height:38px;
}
#u7080_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7081 {
  position:absolute;
  left:179px;
  top:50px;
  width:411px;
  height:40px;
}
#u7081_input {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u7082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u7082 {
  position:absolute;
  left:143px;
  top:64px;
  width:27px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u7083 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u7084 {
  position:absolute;
  left:380px;
  top:100px;
  width:210px;
  height:40px;
}
#u7084_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u7085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u7085 {
  position:absolute;
  left:91px;
  top:114px;
  width:79px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u7086 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u7087 {
  position:absolute;
  left:179px;
  top:150px;
  width:411px;
  height:40px;
}
#u7087_input {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u7088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u7088 {
  position:absolute;
  left:143px;
  top:164px;
  width:27px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u7089 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u7090 {
  position:absolute;
  left:179px;
  top:200px;
  width:411px;
  height:40px;
}
#u7090_input {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u7091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u7091 {
  position:absolute;
  left:117px;
  top:214px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u7092 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u7093 {
  position:absolute;
  left:179px;
  top:260px;
  width:187px;
  height:40px;
}
#u7093_input {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u7094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u7094 {
  position:absolute;
  left:130px;
  top:274px;
  width:40px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u7095 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u7096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
  background:inherit;
  background-color:rgba(204, 255, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u7096 {
  position:absolute;
  left:700px;
  top:250px;
  width:200px;
  height:60px;
}
#u7097 {
  position:absolute;
  left:10px;
  top:10px;
  width:180px;
  word-wrap:break-word;
}
#u7098 {
  position:absolute;
  left:183px;
  top:330px;
  width:290px;
  height:80px;
}
#u7098_input {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:80px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u7099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u7099 {
  position:absolute;
  left:143px;
  top:362px;
  width:40px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u7100 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u7101 {
  position:absolute;
  left:179px;
  top:100px;
  width:191px;
  height:40px;
}
#u7101_input {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u7102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:111px;
  background:inherit;
  background-color:rgba(204, 255, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u7102 {
  position:absolute;
  left:680px;
  top:89px;
  width:360px;
  height:111px;
}
#u7103 {
  position:absolute;
  left:10px;
  top:10px;
  width:340px;
  word-wrap:break-word;
}
