body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1410px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1410px;
  height:670px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19638 {
  position:absolute;
  left:0px;
  top:0px;
  width:1410px;
  height:670px;
}
#u19639 {
  position:absolute;
  left:2px;
  top:327px;
  width:1406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19640 {
  position:absolute;
  left:35px;
  top:66px;
  width:42px;
  height:67px;
}
#u19641 {
  position:absolute;
  left:2px;
  top:26px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u19642 {
  position:absolute;
  left:53px;
  top:181px;
  width:121px;
  height:24px;
  font-size:20px;
}
#u19643 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u19644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u19644 {
  position:absolute;
  left:53px;
  top:337px;
  width:121px;
  height:24px;
  font-size:20px;
}
#u19645 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u19646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19646 {
  position:absolute;
  left:55px;
  top:378px;
  width:100px;
  height:16px;
}
#u19647 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u19648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19648 {
  position:absolute;
  left:255px;
  top:378px;
  width:200px;
  height:16px;
}
#u19649 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u19650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19650 {
  position:absolute;
  left:475px;
  top:378px;
  width:200px;
  height:16px;
}
#u19651 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u19652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19652 {
  position:absolute;
  left:80px;
  top:236px;
  width:66px;
  height:16px;
}
#u19653 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u19654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19654 {
  position:absolute;
  left:797px;
  top:236px;
  width:53px;
  height:16px;
}
#u19655 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u19656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19656 {
  position:absolute;
  left:368px;
  top:252px;
  width:92px;
  height:16px;
}
#u19657 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u19658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19658 {
  position:absolute;
  left:80px;
  top:252px;
  width:66px;
  height:16px;
}
#u19659 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u19660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19660 {
  position:absolute;
  left:868px;
  top:236px;
  width:144px;
  height:16px;
}
#u19661 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u19662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u19662 {
  position:absolute;
  left:525px;
  top:252px;
  width:40px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u19663 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u19664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19664 {
  position:absolute;
  left:785px;
  top:252px;
  width:66px;
  height:16px;
}
#u19665 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u19666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19666 {
  position:absolute;
  left:394px;
  top:236px;
  width:66px;
  height:16px;
}
#u19667 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u19668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19668 {
  position:absolute;
  left:164px;
  top:236px;
  width:151px;
  height:16px;
}
#u19669 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u19670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19670 {
  position:absolute;
  left:164px;
  top:252px;
  width:47px;
  height:16px;
}
#u19671 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u19672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19672 {
  position:absolute;
  left:475px;
  top:252px;
  width:40px;
  height:16px;
}
#u19673 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u19674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19674 {
  position:absolute;
  left:869px;
  top:252px;
  width:86px;
  height:16px;
}
#u19675 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u19676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19676 {
  position:absolute;
  left:67px;
  top:268px;
  width:79px;
  height:16px;
}
#u19677 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u19678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19678 {
  position:absolute;
  left:164px;
  top:268px;
  width:86px;
  height:16px;
}
#u19679 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u19680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19680 {
  position:absolute;
  left:393px;
  top:270px;
  width:66px;
  height:16px;
}
#u19681 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u19682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19682 {
  position:absolute;
  left:476px;
  top:270px;
  width:86px;
  height:16px;
}
#u19683 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u19684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19684 {
  position:absolute;
  left:79px;
  top:286px;
  width:66px;
  height:16px;
}
#u19685 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u19686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19686 {
  position:absolute;
  left:164px;
  top:286px;
  width:86px;
  height:16px;
}
#u19687 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u19688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19688 {
  position:absolute;
  left:380px;
  top:288px;
  width:79px;
  height:16px;
}
#u19689 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u19690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u19690 {
  position:absolute;
  left:477px;
  top:288px;
  width:86px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u19691 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u19692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19692 {
  position:absolute;
  left:230px;
  top:285px;
  width:90px;
  height:16px;
}
#u19693 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u19694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19694 {
  position:absolute;
  left:773px;
  top:286px;
  width:79px;
  height:16px;
}
#u19695 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u19696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u19696 {
  position:absolute;
  left:869px;
  top:286px;
  width:86px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u19697 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u19698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19698 {
  position:absolute;
  left:924px;
  top:286px;
  width:90px;
  height:16px;
}
#u19699 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u19700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u19700 {
  position:absolute;
  left:53px;
  top:34px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u19701 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u19702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19702 {
  position:absolute;
  left:80px;
  top:91px;
  width:66px;
  height:16px;
}
#u19703 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u19704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19704 {
  position:absolute;
  left:773px;
  top:97px;
  width:79px;
  height:16px;
}
#u19705 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u19706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19706 {
  position:absolute;
  left:80px;
  top:71px;
  width:66px;
  height:16px;
}
#u19707 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u19708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19708 {
  position:absolute;
  left:869px;
  top:97px;
  width:149px;
  height:16px;
}
#u19709 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u19710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19710 {
  position:absolute;
  left:415px;
  top:97px;
  width:40px;
  height:16px;
}
#u19711 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u19712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19712 {
  position:absolute;
  left:164px;
  top:137px;
  width:40px;
  height:16px;
}
#u19713 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u19714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19714 {
  position:absolute;
  left:164px;
  top:91px;
  width:78px;
  height:16px;
}
#u19715 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u19716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u19716 {
  position:absolute;
  left:415px;
  top:71px;
  width:40px;
  height:16px;
  text-align:right;
}
#u19717 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u19718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19718 {
  position:absolute;
  left:461px;
  top:71px;
  width:92px;
  height:16px;
}
#u19719 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u19720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u19720 {
  position:absolute;
  left:785px;
  top:71px;
  width:66px;
  height:16px;
  text-align:right;
}
#u19721 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u19722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19722 {
  position:absolute;
  left:869px;
  top:71px;
  width:218px;
  height:16px;
}
#u19723 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  white-space:nowrap;
}
#u19724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19724 {
  position:absolute;
  left:461px;
  top:97px;
  width:84px;
  height:16px;
}
#u19725 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u19726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u19726 {
  position:absolute;
  left:42px;
  top:70px;
  width:29px;
  height:16px;
  color:#FF0000;
}
#u19727 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u19728 {
  position:absolute;
  left:42px;
  top:116px;
  width:29px;
  height:16px;
  color:#FF0000;
}
#u19729 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19730 {
  position:absolute;
  left:36px;
  top:137px;
  width:109px;
  height:16px;
}
#u19731 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u19732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19732 {
  position:absolute;
  left:774px;
  top:137px;
  width:79px;
  height:16px;
}
#u19733 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u19734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19734 {
  position:absolute;
  left:81px;
  top:117px;
  width:66px;
  height:16px;
}
#u19735 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u19736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19736 {
  position:absolute;
  left:870px;
  top:137px;
  width:149px;
  height:16px;
}
#u19737 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u19738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19738 {
  position:absolute;
  left:165px;
  top:117px;
  width:144px;
  height:16px;
}
#u19739 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u19740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u19740 {
  position:absolute;
  left:734px;
  top:117px;
  width:118px;
  height:16px;
  text-align:right;
}
#u19741 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u19742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u19742 {
  position:absolute;
  left:362px;
  top:117px;
  width:92px;
  height:16px;
  text-align:right;
}
#u19743 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u19744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19744 {
  position:absolute;
  left:462px;
  top:117px;
  width:129px;
  height:16px;
}
#u19745 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u19746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19746 {
  position:absolute;
  left:870px;
  top:117px;
  width:149px;
  height:16px;
}
#u19747 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u19748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19748 {
  position:absolute;
  left:164px;
  top:71px;
  width:40px;
  height:16px;
}
#u19749 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u19750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u19750 {
  position:absolute;
  left:388px;
  top:137px;
  width:66px;
  height:16px;
  text-align:right;
}
#u19751 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u19752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19752 {
  position:absolute;
  left:462px;
  top:137px;
  width:218px;
  height:16px;
}
#u19753 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  white-space:nowrap;
}
#u19754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19754 {
  position:absolute;
  left:164px;
  top:155px;
  width:40px;
  height:16px;
}
#u19755 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u19756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19756 {
  position:absolute;
  left:92px;
  top:155px;
  width:53px;
  height:16px;
}
#u19757 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u19758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19758 {
  position:absolute;
  left:390px;
  top:155px;
  width:66px;
  height:16px;
}
#u19759 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u19760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19760 {
  position:absolute;
  left:464px;
  top:155px;
  width:78px;
  height:16px;
}
#u19761 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u19762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u19762 {
  position:absolute;
  left:45px;
  top:93px;
  width:22px;
  height:16px;
  color:#FF0000;
}
#u19763 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u19764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19764 {
  position:absolute;
  left:693px;
  top:378px;
  width:458px;
  height:16px;
}
#u19765 {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  word-wrap:break-word;
}
#u19766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19766 {
  position:absolute;
  left:163px;
  top:305px;
  width:173px;
  height:16px;
}
#u19767 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u19768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19768 {
  position:absolute;
  left:392px;
  top:305px;
  width:66px;
  height:16px;
}
#u19769 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u19770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19770 {
  position:absolute;
  left:475px;
  top:305px;
  width:152px;
  height:16px;
}
#u19771 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u19772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19772 {
  position:absolute;
  left:79px;
  top:305px;
  width:66px;
  height:16px;
}
#u19773 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u19774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19774 {
  position:absolute;
  left:93px;
  top:215px;
  width:53px;
  height:16px;
}
#u19775 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u19776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19776 {
  position:absolute;
  left:164px;
  top:215px;
  width:99px;
  height:16px;
}
#u19777 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u19778_div {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u19778 {
  position:absolute;
  left:184px;
  top:185px;
  width:249px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u19779 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  word-wrap:break-word;
}
#u19780_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1059px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19780 {
  position:absolute;
  left:57px;
  top:443px;
  width:1059px;
  height:16px;
}
#u19781 {
  position:absolute;
  left:0px;
  top:0px;
  width:1059px;
  word-wrap:break-word;
}
#u19782_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u19782 {
  position:absolute;
  left:57px;
  top:410px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u19783 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u19784 {
  position:absolute;
  left:57px;
  top:476px;
  width:1085px;
  height:215px;
}
#u19785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u19785 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  text-align:left;
}
#u19786 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u19787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u19787 {
  position:absolute;
  left:200px;
  top:0px;
  width:140px;
  height:30px;
  text-align:left;
}
#u19788 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u19789_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u19789 {
  position:absolute;
  left:340px;
  top:0px;
  width:140px;
  height:30px;
  text-align:left;
}
#u19790 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u19791_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u19791 {
  position:absolute;
  left:480px;
  top:0px;
  width:100px;
  height:30px;
  text-align:left;
}
#u19792 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u19793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u19793 {
  position:absolute;
  left:580px;
  top:0px;
  width:500px;
  height:30px;
  text-align:left;
}
#u19794 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  word-wrap:break-word;
}
#u19795_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u19795 {
  position:absolute;
  left:0px;
  top:30px;
  width:200px;
  height:30px;
  text-align:left;
}
#u19796 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u19797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u19797 {
  position:absolute;
  left:200px;
  top:30px;
  width:140px;
  height:30px;
  text-align:left;
}
#u19798 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u19799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u19799 {
  position:absolute;
  left:340px;
  top:30px;
  width:140px;
  height:30px;
  text-align:left;
}
#u19800 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u19801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u19801 {
  position:absolute;
  left:480px;
  top:30px;
  width:100px;
  height:30px;
  text-align:left;
}
#u19802 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u19803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u19803 {
  position:absolute;
  left:580px;
  top:30px;
  width:500px;
  height:30px;
  text-align:left;
}
#u19804 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  word-wrap:break-word;
}
#u19805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u19805 {
  position:absolute;
  left:0px;
  top:60px;
  width:200px;
  height:30px;
  text-align:left;
}
#u19806 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u19807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u19807 {
  position:absolute;
  left:200px;
  top:60px;
  width:140px;
  height:30px;
  text-align:left;
}
#u19808 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u19809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u19809 {
  position:absolute;
  left:340px;
  top:60px;
  width:140px;
  height:30px;
  text-align:left;
}
#u19810 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u19811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u19811 {
  position:absolute;
  left:480px;
  top:60px;
  width:100px;
  height:30px;
  text-align:left;
}
#u19812 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u19813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u19813 {
  position:absolute;
  left:580px;
  top:60px;
  width:500px;
  height:30px;
  text-align:left;
}
#u19814 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  word-wrap:break-word;
}
#u19815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u19815 {
  position:absolute;
  left:0px;
  top:90px;
  width:200px;
  height:30px;
  text-align:left;
}
#u19816 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u19817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u19817 {
  position:absolute;
  left:200px;
  top:90px;
  width:140px;
  height:30px;
  text-align:left;
}
#u19818 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u19819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u19819 {
  position:absolute;
  left:340px;
  top:90px;
  width:140px;
  height:30px;
  text-align:left;
}
#u19820 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u19821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u19821 {
  position:absolute;
  left:480px;
  top:90px;
  width:100px;
  height:30px;
  text-align:left;
}
#u19822 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u19823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u19823 {
  position:absolute;
  left:580px;
  top:90px;
  width:500px;
  height:30px;
  text-align:left;
}
#u19824 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  word-wrap:break-word;
}
#u19825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u19825 {
  position:absolute;
  left:0px;
  top:120px;
  width:200px;
  height:30px;
  text-align:left;
}
#u19826 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u19827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u19827 {
  position:absolute;
  left:200px;
  top:120px;
  width:140px;
  height:30px;
  text-align:left;
}
#u19828 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u19829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u19829 {
  position:absolute;
  left:340px;
  top:120px;
  width:140px;
  height:30px;
  text-align:left;
}
#u19830 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u19831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u19831 {
  position:absolute;
  left:480px;
  top:120px;
  width:100px;
  height:30px;
  text-align:left;
}
#u19832 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u19833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u19833 {
  position:absolute;
  left:580px;
  top:120px;
  width:500px;
  height:30px;
  text-align:left;
}
#u19834 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  word-wrap:break-word;
}
#u19835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u19835 {
  position:absolute;
  left:0px;
  top:150px;
  width:200px;
  height:30px;
  text-align:left;
}
#u19836 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u19837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u19837 {
  position:absolute;
  left:200px;
  top:150px;
  width:140px;
  height:30px;
  text-align:left;
}
#u19838 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u19839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u19839 {
  position:absolute;
  left:340px;
  top:150px;
  width:140px;
  height:30px;
  text-align:left;
}
#u19840 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u19841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u19841 {
  position:absolute;
  left:480px;
  top:150px;
  width:100px;
  height:30px;
  text-align:left;
}
#u19842 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u19843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u19843 {
  position:absolute;
  left:580px;
  top:150px;
  width:500px;
  height:30px;
  text-align:left;
}
#u19844 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  word-wrap:break-word;
}
#u19845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u19845 {
  position:absolute;
  left:0px;
  top:180px;
  width:200px;
  height:30px;
  text-align:left;
}
#u19846 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u19847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u19847 {
  position:absolute;
  left:200px;
  top:180px;
  width:140px;
  height:30px;
  text-align:left;
}
#u19848 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u19849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u19849 {
  position:absolute;
  left:340px;
  top:180px;
  width:140px;
  height:30px;
  text-align:left;
}
#u19850 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u19851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u19851 {
  position:absolute;
  left:480px;
  top:180px;
  width:100px;
  height:30px;
  text-align:left;
}
#u19852 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u19853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u19853 {
  position:absolute;
  left:580px;
  top:180px;
  width:500px;
  height:30px;
  text-align:left;
}
#u19854 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  word-wrap:break-word;
}
#u19855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u19855 {
  position:absolute;
  left:57px;
  top:715px;
  width:66px;
  height:16px;
}
#u19856 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u19857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u19857 {
  position:absolute;
  left:57px;
  top:744px;
  width:66px;
  height:16px;
}
#u19858 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u19859 {
  position:absolute;
  left:132px;
  top:711px;
  width:108px;
  height:26px;
}
#u19859_input {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19859_input {
  font-family:'应用字体';
}
#u19859_input:disabled {
  color:grayText;
}
#u19860 {
  position:absolute;
  left:131px;
  top:747px;
  width:521px;
  height:59px;
}
#u19860_input {
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:59px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19860_input {
  font-family:'应用字体';
}
#u19861 {
  position:absolute;
  left:184px;
  top:826px;
  width:165px;
  height:35px;
}
#u19861_input {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:35px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u19861_input {
  font-family:'应用字体';
}
