body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:559px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  height:580px;
}
#u3201 {
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  height:580px;
}
#u3202 {
  position:absolute;
  left:2px;
  top:282px;
  width:555px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  height:362px;
}
#u3203 {
  position:absolute;
  left:0px;
  top:590px;
  width:559px;
  height:362px;
}
#u3204 {
  position:absolute;
  left:2px;
  top:173px;
  width:555px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:28px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u3205 {
  position:absolute;
  left:211px;
  top:936px;
  width:125px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u3205_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:28px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u3205.mouseOver {
}
#u3205_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:28px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-radius:4px;
  -moz-box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  -webkit-box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u3205.mouseDown {
}
#u3205_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:28px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u3205.disabled {
  opacity:0.5;
}
#u3206 {
  position:absolute;
  left:12px;
  top:4px;
  width:101px;
  word-wrap:break-word;
}
