body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:399px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16523_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:222px;
}
#u16523 {
  position:absolute;
  left:224px;
  top:33px;
  width:1px;
  height:222px;
}
#u16524 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  word-wrap:break-word;
}
#u16525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16525 {
  position:absolute;
  left:50px;
  top:68px;
  width:153px;
  height:170px;
}
#u16526 {
  position:absolute;
  left:2px;
  top:77px;
  width:149px;
  word-wrap:break-word;
}
#u16527_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16527 {
  position:absolute;
  left:246px;
  top:68px;
  width:153px;
  height:170px;
}
#u16528 {
  position:absolute;
  left:2px;
  top:77px;
  width:149px;
  word-wrap:break-word;
}
