body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1230px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1215px;
  height:148px;
}
#u738 {
  position:absolute;
  left:15px;
  top:22px;
  width:1215px;
  height:148px;
}
#u739 {
  position:absolute;
  left:2px;
  top:66px;
  width:1211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u740 {
  position:absolute;
  left:40px;
  top:40px;
  width:1180px;
  height:70px;
}
#u741 {
  position:absolute;
  left:2px;
  top:27px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u742 {
  position:absolute;
  left:544px;
  top:115px;
  width:170px;
  height:45px;
}
#u743 {
  position:absolute;
  left:2px;
  top:14px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
