body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1027px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4238 {
  position:absolute;
  left:719px;
  top:150px;
  width:100px;
  height:25px;
}
#u4238_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4239 {
  position:absolute;
  left:30px;
  top:317px;
  width:798px;
  height:131px;
}
#u4240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:36px;
}
#u4240 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u4241 {
  position:absolute;
  left:2px;
  top:10px;
  width:42px;
  word-wrap:break-word;
}
#u4242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u4242 {
  position:absolute;
  left:46px;
  top:0px;
  width:180px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u4243 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u4244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
}
#u4244 {
  position:absolute;
  left:226px;
  top:0px;
  width:127px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u4245 {
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u4246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:36px;
}
#u4246 {
  position:absolute;
  left:353px;
  top:0px;
  width:112px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u4247 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u4248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:36px;
}
#u4248 {
  position:absolute;
  left:465px;
  top:0px;
  width:136px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u4249 {
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  word-wrap:break-word;
}
#u4250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:36px;
}
#u4250 {
  position:absolute;
  left:601px;
  top:0px;
  width:192px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u4251 {
  position:absolute;
  left:2px;
  top:10px;
  width:188px;
  word-wrap:break-word;
}
#u4252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:30px;
}
#u4252 {
  position:absolute;
  left:0px;
  top:36px;
  width:46px;
  height:30px;
  text-align:center;
}
#u4253 {
  position:absolute;
  left:2px;
  top:7px;
  width:42px;
  word-wrap:break-word;
}
#u4254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u4254 {
  position:absolute;
  left:46px;
  top:36px;
  width:180px;
  height:30px;
  text-align:center;
}
#u4255 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u4256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u4256 {
  position:absolute;
  left:226px;
  top:36px;
  width:127px;
  height:30px;
  text-align:center;
}
#u4257 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u4258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u4258 {
  position:absolute;
  left:353px;
  top:36px;
  width:112px;
  height:30px;
  text-align:center;
}
#u4259 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u4260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u4260 {
  position:absolute;
  left:465px;
  top:36px;
  width:136px;
  height:30px;
  text-align:center;
}
#u4261 {
  position:absolute;
  left:2px;
  top:7px;
  width:132px;
  word-wrap:break-word;
}
#u4262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:30px;
}
#u4262 {
  position:absolute;
  left:601px;
  top:36px;
  width:192px;
  height:30px;
  text-align:center;
}
#u4263 {
  position:absolute;
  left:2px;
  top:7px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:30px;
}
#u4264 {
  position:absolute;
  left:0px;
  top:66px;
  width:46px;
  height:30px;
  text-align:center;
}
#u4265 {
  position:absolute;
  left:2px;
  top:7px;
  width:42px;
  word-wrap:break-word;
}
#u4266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u4266 {
  position:absolute;
  left:46px;
  top:66px;
  width:180px;
  height:30px;
  text-align:center;
}
#u4267 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u4268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u4268 {
  position:absolute;
  left:226px;
  top:66px;
  width:127px;
  height:30px;
  text-align:center;
}
#u4269 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u4270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u4270 {
  position:absolute;
  left:353px;
  top:66px;
  width:112px;
  height:30px;
  text-align:center;
}
#u4271 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u4272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u4272 {
  position:absolute;
  left:465px;
  top:66px;
  width:136px;
  height:30px;
  text-align:center;
}
#u4273 {
  position:absolute;
  left:2px;
  top:7px;
  width:132px;
  word-wrap:break-word;
}
#u4274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:30px;
}
#u4274 {
  position:absolute;
  left:601px;
  top:66px;
  width:192px;
  height:30px;
  text-align:center;
}
#u4275 {
  position:absolute;
  left:2px;
  top:7px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:30px;
}
#u4276 {
  position:absolute;
  left:0px;
  top:96px;
  width:46px;
  height:30px;
  text-align:center;
}
#u4277 {
  position:absolute;
  left:2px;
  top:7px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u4278 {
  position:absolute;
  left:46px;
  top:96px;
  width:180px;
  height:30px;
  text-align:center;
}
#u4279 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u4280 {
  position:absolute;
  left:226px;
  top:96px;
  width:127px;
  height:30px;
  text-align:center;
}
#u4281 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u4282 {
  position:absolute;
  left:353px;
  top:96px;
  width:112px;
  height:30px;
  text-align:center;
}
#u4283 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u4284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u4284 {
  position:absolute;
  left:465px;
  top:96px;
  width:136px;
  height:30px;
  text-align:center;
}
#u4285 {
  position:absolute;
  left:2px;
  top:7px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:30px;
}
#u4286 {
  position:absolute;
  left:601px;
  top:96px;
  width:192px;
  height:30px;
  text-align:center;
}
#u4287 {
  position:absolute;
  left:2px;
  top:7px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u4289 {
  position:absolute;
  left:476px;
  top:533px;
  width:99px;
  height:30px;
  color:#FF0000;
}
#u4290 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u4291 {
  position:absolute;
  left:591px;
  top:530px;
  width:41px;
  height:25px;
}
#u4291_input {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4292 {
  position:absolute;
  left:642px;
  top:530px;
  width:51px;
  height:25px;
}
#u4292_input {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4293 {
  position:absolute;
  left:701px;
  top:529px;
  width:46px;
  height:25px;
}
#u4293_input {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4294 {
  position:absolute;
  left:757px;
  top:529px;
  width:41px;
  height:25px;
}
#u4294_input {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4295 {
  position:absolute;
  left:808px;
  top:529px;
  width:17px;
  height:25px;
}
#u4295_input {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
  text-align:center;
}
#u4296 {
  position:absolute;
  left:831px;
  top:529px;
  width:17px;
  height:25px;
}
#u4296_input {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4297 {
  position:absolute;
  left:853px;
  top:529px;
  width:17px;
  height:25px;
}
#u4297_input {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4298 {
  position:absolute;
  left:888px;
  top:529px;
  width:17px;
  height:25px;
}
#u4298_input {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4299 {
  position:absolute;
  left:911px;
  top:529px;
  width:16px;
  height:25px;
}
#u4299_input {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u4300 {
  position:absolute;
  left:873px;
  top:532px;
  width:19px;
  height:22px;
  color:#FF0000;
}
#u4301 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
#u4302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4302 {
  position:absolute;
  left:937px;
  top:535px;
  width:27px;
  height:22px;
  color:#000000;
}
#u4303 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u4304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4304 {
  position:absolute;
  left:1000px;
  top:535px;
  width:27px;
  height:22px;
  color:#000000;
}
#u4305 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u4306 {
  position:absolute;
  left:969px;
  top:529px;
  width:26px;
  height:25px;
}
#u4306_input {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4307 {
  position:absolute;
  left:419px;
  top:74px;
  width:246px;
  height:40px;
}
#u4307_input {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u4308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u4308 {
  position:absolute;
  left:360px;
  top:88px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u4309 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4310 {
  position:absolute;
  left:149px;
  top:74px;
  width:150px;
  height:40px;
}
#u4310_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u4311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u4311 {
  position:absolute;
  left:90px;
  top:88px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u4312 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4313 {
  position:absolute;
  left:642px;
  top:356px;
  width:64px;
  height:25px;
}
#u4313_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4314 {
  position:absolute;
  left:716px;
  top:356px;
  width:62px;
  height:25px;
}
#u4314_input {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4315 {
  position:absolute;
  left:40px;
  top:280px;
  width:87px;
  height:25px;
}
#u4315_input {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4316 {
  position:absolute;
  left:419px;
  top:22px;
  width:139px;
  height:40px;
}
#u4316_input {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4316_input:disabled {
  color:grayText;
}
#u4317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u4317 {
  position:absolute;
  left:360px;
  top:34px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u4318 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4319 {
  position:absolute;
  left:149px;
  top:22px;
  width:150px;
  height:40px;
}
#u4319_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u4320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u4320 {
  position:absolute;
  left:90px;
  top:36px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u4321 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4322 {
  position:absolute;
  left:149px;
  top:125px;
  width:133px;
  height:40px;
}
#u4322_input {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u4323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u4323 {
  position:absolute;
  left:83px;
  top:139px;
  width:60px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u4324 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u4325 {
  position:absolute;
  left:420px;
  top:127px;
  width:133px;
  height:40px;
}
#u4325_input {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u4326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u4326 {
  position:absolute;
  left:348px;
  top:141px;
  width:66px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u4327 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u4328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u4328 {
  position:absolute;
  left:90px;
  top:191px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u4329 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4330 {
  position:absolute;
  left:149px;
  top:179px;
  width:150px;
  height:40px;
}
#u4330_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u4331 {
  position:absolute;
  left:315px;
  top:179px;
  width:150px;
  height:40px;
}
#u4331_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
