body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1105px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1085px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2036 {
  position:absolute;
  left:20px;
  top:21px;
  width:1085px;
  height:49px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2037 {
  position:absolute;
  left:2px;
  top:16px;
  width:1081px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#6B6B6B;
  text-align:right;
}
#u2038 {
  position:absolute;
  left:27px;
  top:35px;
  width:96px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#6B6B6B;
  text-align:right;
}
#u2039 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u2040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2040 {
  position:absolute;
  left:137px;
  top:35px;
  width:160px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2041 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u2042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#6B6B6B;
  text-align:right;
}
#u2042 {
  position:absolute;
  left:455px;
  top:35px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#6B6B6B;
  text-align:right;
}
#u2043 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2044 {
  position:absolute;
  left:522px;
  top:35px;
  width:198px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2045 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  word-wrap:break-word;
}
#u2046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#6B6B6B;
  text-align:right;
}
#u2046 {
  position:absolute;
  left:895px;
  top:35px;
  width:66px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#6B6B6B;
  text-align:right;
}
#u2047 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u2048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2048 {
  position:absolute;
  left:975px;
  top:35px;
  width:115px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2049 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u2050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#6B6B6B;
  text-align:right;
}
#u2050 {
  position:absolute;
  left:721px;
  top:35px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#6B6B6B;
  text-align:right;
}
#u2051 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2052 {
  position:absolute;
  left:788px;
  top:35px;
  width:160px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2053 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u2054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#6B6B6B;
  text-align:right;
}
#u2054 {
  position:absolute;
  left:253px;
  top:35px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#6B6B6B;
  text-align:right;
}
#u2055 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2056 {
  position:absolute;
  left:320px;
  top:35px;
  width:160px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2057 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u2058 {
  position:absolute;
  left:110px;
  top:1200px;
  width:620px;
  height:430px;
  overflow:hidden;
}
#u2058_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:430px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2058_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2059 {
  position:absolute;
  left:53px;
  top:36px;
  width:257px;
  height:239px;
}
#u2060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u2060 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u2061 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:36px;
}
#u2062 {
  position:absolute;
  left:100px;
  top:0px;
  width:152px;
  height:36px;
}
#u2063 {
  position:absolute;
  left:2px;
  top:10px;
  width:148px;
  word-wrap:break-word;
}
#u2064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:51px;
}
#u2064 {
  position:absolute;
  left:0px;
  top:36px;
  width:100px;
  height:51px;
}
#u2065 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u2066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:51px;
}
#u2066 {
  position:absolute;
  left:100px;
  top:36px;
  width:152px;
  height:51px;
}
#u2067 {
  position:absolute;
  left:2px;
  top:18px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:49px;
}
#u2068 {
  position:absolute;
  left:0px;
  top:87px;
  width:100px;
  height:49px;
}
#u2069 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u2070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:49px;
}
#u2070 {
  position:absolute;
  left:100px;
  top:87px;
  width:152px;
  height:49px;
}
#u2071 {
  position:absolute;
  left:2px;
  top:16px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u2072 {
  position:absolute;
  left:0px;
  top:136px;
  width:100px;
  height:45px;
}
#u2073 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u2074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:45px;
}
#u2074 {
  position:absolute;
  left:100px;
  top:136px;
  width:152px;
  height:45px;
}
#u2075 {
  position:absolute;
  left:2px;
  top:14px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:53px;
}
#u2076 {
  position:absolute;
  left:0px;
  top:181px;
  width:100px;
  height:53px;
}
#u2077 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u2078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:53px;
}
#u2078 {
  position:absolute;
  left:100px;
  top:181px;
  width:152px;
  height:53px;
}
#u2079 {
  position:absolute;
  left:2px;
  top:18px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2080 {
  position:absolute;
  left:167px;
  top:76px;
  width:126px;
  height:40px;
}
#u2080_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2081 {
  position:absolute;
  left:167px;
  top:126px;
  width:126px;
  height:40px;
}
#u2081_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2082 {
  position:absolute;
  left:167px;
  top:176px;
  width:126px;
  height:40px;
}
#u2082_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2083 {
  position:absolute;
  left:167px;
  top:226px;
  width:126px;
  height:40px;
}
#u2083_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2084 {
  position:absolute;
  left:340px;
  top:245px;
  width:100px;
  height:25px;
}
#u2084_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2058_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:430px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2058_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2085 {
  position:absolute;
  left:53px;
  top:36px;
  width:257px;
  height:239px;
}
#u2086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u2086 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u2087 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:36px;
}
#u2088 {
  position:absolute;
  left:100px;
  top:0px;
  width:152px;
  height:36px;
}
#u2089 {
  position:absolute;
  left:2px;
  top:10px;
  width:148px;
  word-wrap:break-word;
}
#u2090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:51px;
}
#u2090 {
  position:absolute;
  left:0px;
  top:36px;
  width:100px;
  height:51px;
}
#u2091 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u2092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:51px;
}
#u2092 {
  position:absolute;
  left:100px;
  top:36px;
  width:152px;
  height:51px;
}
#u2093 {
  position:absolute;
  left:2px;
  top:18px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:49px;
}
#u2094 {
  position:absolute;
  left:0px;
  top:87px;
  width:100px;
  height:49px;
}
#u2095 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u2096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:49px;
}
#u2096 {
  position:absolute;
  left:100px;
  top:87px;
  width:152px;
  height:49px;
}
#u2097 {
  position:absolute;
  left:2px;
  top:16px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u2098 {
  position:absolute;
  left:0px;
  top:136px;
  width:100px;
  height:45px;
}
#u2099 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u2100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:45px;
}
#u2100 {
  position:absolute;
  left:100px;
  top:136px;
  width:152px;
  height:45px;
}
#u2101 {
  position:absolute;
  left:2px;
  top:14px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:53px;
}
#u2102 {
  position:absolute;
  left:0px;
  top:181px;
  width:100px;
  height:53px;
}
#u2103 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u2104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:53px;
}
#u2104 {
  position:absolute;
  left:100px;
  top:181px;
  width:152px;
  height:53px;
}
#u2105 {
  position:absolute;
  left:2px;
  top:18px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2106 {
  position:absolute;
  left:167px;
  top:76px;
  width:126px;
  height:40px;
}
#u2106_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2107 {
  position:absolute;
  left:167px;
  top:126px;
  width:126px;
  height:40px;
}
#u2107_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2108 {
  position:absolute;
  left:167px;
  top:176px;
  width:126px;
  height:40px;
}
#u2108_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2109 {
  position:absolute;
  left:167px;
  top:226px;
  width:126px;
  height:40px;
}
#u2109_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2110 {
  position:absolute;
  left:340px;
  top:245px;
  width:100px;
  height:25px;
}
#u2110_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2111 {
  position:absolute;
  left:354px;
  top:150px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u2112 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:971px;
  height:2px;
}
#u2113 {
  position:absolute;
  left:20px;
  top:123px;
  width:970px;
  height:1px;
}
#u2114 {
  position:absolute;
  left:2px;
  top:-8px;
  width:966px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2115 {
  position:absolute;
  left:60px;
  top:91px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2116 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u2117 {
  position:absolute;
  left:309px;
  top:150px;
  width:257px;
  height:141px;
}
#u2118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u2118 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u2119 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:36px;
}
#u2120 {
  position:absolute;
  left:100px;
  top:0px;
  width:152px;
  height:36px;
}
#u2121 {
  position:absolute;
  left:2px;
  top:10px;
  width:148px;
  word-wrap:break-word;
}
#u2122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:51px;
}
#u2122 {
  position:absolute;
  left:0px;
  top:36px;
  width:100px;
  height:51px;
}
#u2123 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u2124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:51px;
}
#u2124 {
  position:absolute;
  left:100px;
  top:36px;
  width:152px;
  height:51px;
}
#u2125 {
  position:absolute;
  left:2px;
  top:18px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:49px;
}
#u2126 {
  position:absolute;
  left:0px;
  top:87px;
  width:100px;
  height:49px;
}
#u2127 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u2128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:49px;
}
#u2128 {
  position:absolute;
  left:100px;
  top:87px;
  width:152px;
  height:49px;
}
#u2129 {
  position:absolute;
  left:2px;
  top:16px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2130 {
  position:absolute;
  left:423px;
  top:190px;
  width:126px;
  height:40px;
}
#u2130_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2131 {
  position:absolute;
  left:423px;
  top:240px;
  width:126px;
  height:40px;
}
#u2131_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2132 {
  position:absolute;
  left:387px;
  top:355px;
  width:96px;
  height:45px;
}
#u2132_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
