body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1105px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1085px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1905 {
  position:absolute;
  left:20px;
  top:21px;
  width:1085px;
  height:49px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1906 {
  position:absolute;
  left:2px;
  top:16px;
  width:1081px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#6B6B6B;
  text-align:right;
}
#u1907 {
  position:absolute;
  left:27px;
  top:35px;
  width:96px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#6B6B6B;
  text-align:right;
}
#u1908 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u1909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1909 {
  position:absolute;
  left:137px;
  top:35px;
  width:160px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1910 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u1911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#6B6B6B;
  text-align:right;
}
#u1911 {
  position:absolute;
  left:455px;
  top:35px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#6B6B6B;
  text-align:right;
}
#u1912 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1913 {
  position:absolute;
  left:522px;
  top:35px;
  width:198px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1914 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  word-wrap:break-word;
}
#u1915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#6B6B6B;
  text-align:right;
}
#u1915 {
  position:absolute;
  left:895px;
  top:35px;
  width:66px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#6B6B6B;
  text-align:right;
}
#u1916 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1917 {
  position:absolute;
  left:975px;
  top:35px;
  width:115px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1918 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u1919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#6B6B6B;
  text-align:right;
}
#u1919 {
  position:absolute;
  left:721px;
  top:35px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#6B6B6B;
  text-align:right;
}
#u1920 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1921 {
  position:absolute;
  left:788px;
  top:35px;
  width:160px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1922 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u1923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#6B6B6B;
  text-align:right;
}
#u1923 {
  position:absolute;
  left:253px;
  top:35px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#6B6B6B;
  text-align:right;
}
#u1924 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1925 {
  position:absolute;
  left:320px;
  top:35px;
  width:160px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1926 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u1927 {
  position:absolute;
  left:110px;
  top:1200px;
  width:620px;
  height:430px;
  overflow:hidden;
}
#u1927_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:430px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1927_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1928 {
  position:absolute;
  left:53px;
  top:36px;
  width:257px;
  height:239px;
}
#u1929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u1929 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u1930 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:36px;
}
#u1931 {
  position:absolute;
  left:100px;
  top:0px;
  width:152px;
  height:36px;
}
#u1932 {
  position:absolute;
  left:2px;
  top:10px;
  width:148px;
  word-wrap:break-word;
}
#u1933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:51px;
}
#u1933 {
  position:absolute;
  left:0px;
  top:36px;
  width:100px;
  height:51px;
}
#u1934 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u1935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:51px;
}
#u1935 {
  position:absolute;
  left:100px;
  top:36px;
  width:152px;
  height:51px;
}
#u1936 {
  position:absolute;
  left:2px;
  top:18px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:49px;
}
#u1937 {
  position:absolute;
  left:0px;
  top:87px;
  width:100px;
  height:49px;
}
#u1938 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u1939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:49px;
}
#u1939 {
  position:absolute;
  left:100px;
  top:87px;
  width:152px;
  height:49px;
}
#u1940 {
  position:absolute;
  left:2px;
  top:16px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u1941 {
  position:absolute;
  left:0px;
  top:136px;
  width:100px;
  height:45px;
}
#u1942 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:45px;
}
#u1943 {
  position:absolute;
  left:100px;
  top:136px;
  width:152px;
  height:45px;
}
#u1944 {
  position:absolute;
  left:2px;
  top:14px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:53px;
}
#u1945 {
  position:absolute;
  left:0px;
  top:181px;
  width:100px;
  height:53px;
}
#u1946 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u1947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:53px;
}
#u1947 {
  position:absolute;
  left:100px;
  top:181px;
  width:152px;
  height:53px;
}
#u1948 {
  position:absolute;
  left:2px;
  top:18px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1949 {
  position:absolute;
  left:167px;
  top:76px;
  width:126px;
  height:40px;
}
#u1949_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1950 {
  position:absolute;
  left:167px;
  top:126px;
  width:126px;
  height:40px;
}
#u1950_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1951 {
  position:absolute;
  left:167px;
  top:176px;
  width:126px;
  height:40px;
}
#u1951_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1952 {
  position:absolute;
  left:167px;
  top:226px;
  width:126px;
  height:40px;
}
#u1952_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1953 {
  position:absolute;
  left:340px;
  top:245px;
  width:100px;
  height:25px;
}
#u1953_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1927_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:430px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1927_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1954 {
  position:absolute;
  left:53px;
  top:36px;
  width:257px;
  height:239px;
}
#u1955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u1955 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u1956 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:36px;
}
#u1957 {
  position:absolute;
  left:100px;
  top:0px;
  width:152px;
  height:36px;
}
#u1958 {
  position:absolute;
  left:2px;
  top:10px;
  width:148px;
  word-wrap:break-word;
}
#u1959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:51px;
}
#u1959 {
  position:absolute;
  left:0px;
  top:36px;
  width:100px;
  height:51px;
}
#u1960 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u1961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:51px;
}
#u1961 {
  position:absolute;
  left:100px;
  top:36px;
  width:152px;
  height:51px;
}
#u1962 {
  position:absolute;
  left:2px;
  top:18px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:49px;
}
#u1963 {
  position:absolute;
  left:0px;
  top:87px;
  width:100px;
  height:49px;
}
#u1964 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u1965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:49px;
}
#u1965 {
  position:absolute;
  left:100px;
  top:87px;
  width:152px;
  height:49px;
}
#u1966 {
  position:absolute;
  left:2px;
  top:16px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u1967 {
  position:absolute;
  left:0px;
  top:136px;
  width:100px;
  height:45px;
}
#u1968 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:45px;
}
#u1969 {
  position:absolute;
  left:100px;
  top:136px;
  width:152px;
  height:45px;
}
#u1970 {
  position:absolute;
  left:2px;
  top:14px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:53px;
}
#u1971 {
  position:absolute;
  left:0px;
  top:181px;
  width:100px;
  height:53px;
}
#u1972 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u1973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:53px;
}
#u1973 {
  position:absolute;
  left:100px;
  top:181px;
  width:152px;
  height:53px;
}
#u1974 {
  position:absolute;
  left:2px;
  top:18px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1975 {
  position:absolute;
  left:167px;
  top:76px;
  width:126px;
  height:40px;
}
#u1975_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1976 {
  position:absolute;
  left:167px;
  top:126px;
  width:126px;
  height:40px;
}
#u1976_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1977 {
  position:absolute;
  left:167px;
  top:176px;
  width:126px;
  height:40px;
}
#u1977_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1978 {
  position:absolute;
  left:167px;
  top:226px;
  width:126px;
  height:40px;
}
#u1978_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1979 {
  position:absolute;
  left:340px;
  top:245px;
  width:100px;
  height:25px;
}
#u1979_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1980 {
  position:absolute;
  left:354px;
  top:150px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u1981 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:971px;
  height:2px;
}
#u1982 {
  position:absolute;
  left:20px;
  top:123px;
  width:970px;
  height:1px;
}
#u1983 {
  position:absolute;
  left:2px;
  top:-8px;
  width:966px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1984 {
  position:absolute;
  left:60px;
  top:91px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1985 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u1986 {
  position:absolute;
  left:309px;
  top:150px;
  width:257px;
  height:141px;
}
#u1987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u1987 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u1988 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:36px;
}
#u1989 {
  position:absolute;
  left:100px;
  top:0px;
  width:152px;
  height:36px;
}
#u1990 {
  position:absolute;
  left:2px;
  top:10px;
  width:148px;
  word-wrap:break-word;
}
#u1991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:51px;
}
#u1991 {
  position:absolute;
  left:0px;
  top:36px;
  width:100px;
  height:51px;
}
#u1992 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u1993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:51px;
}
#u1993 {
  position:absolute;
  left:100px;
  top:36px;
  width:152px;
  height:51px;
}
#u1994 {
  position:absolute;
  left:2px;
  top:18px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:49px;
}
#u1995 {
  position:absolute;
  left:0px;
  top:87px;
  width:100px;
  height:49px;
}
#u1996 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u1997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:49px;
}
#u1997 {
  position:absolute;
  left:100px;
  top:87px;
  width:152px;
  height:49px;
}
#u1998 {
  position:absolute;
  left:2px;
  top:16px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1999 {
  position:absolute;
  left:423px;
  top:190px;
  width:126px;
  height:40px;
}
#u1999_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2000 {
  position:absolute;
  left:423px;
  top:240px;
  width:126px;
  height:40px;
}
#u2000_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2001 {
  position:absolute;
  left:387px;
  top:355px;
  width:96px;
  height:45px;
}
#u2001_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
