body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:590px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6981 {
  position:absolute;
  left:179px;
  top:520px;
  width:140px;
  height:38px;
}
#u6981_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u6982 {
  position:absolute;
  left:179px;
  top:50px;
  width:411px;
  height:40px;
}
#u6982_input {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u6983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6983 {
  position:absolute;
  left:143px;
  top:64px;
  width:27px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6984 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6985 {
  position:absolute;
  left:179px;
  top:100px;
  width:411px;
  height:40px;
}
#u6985_input {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u6986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6986 {
  position:absolute;
  left:91px;
  top:114px;
  width:79px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6987 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u6988 {
  position:absolute;
  left:179px;
  top:150px;
  width:411px;
  height:40px;
}
#u6988_input {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u6989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6989 {
  position:absolute;
  left:143px;
  top:164px;
  width:27px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6990 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6991 {
  position:absolute;
  left:179px;
  top:200px;
  width:411px;
  height:40px;
}
#u6991_input {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u6992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6992 {
  position:absolute;
  left:117px;
  top:214px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6993 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6994 {
  position:absolute;
  left:179px;
  top:260px;
  width:187px;
  height:40px;
}
#u6994_input {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u6995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6995 {
  position:absolute;
  left:130px;
  top:274px;
  width:40px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6996 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u6997 {
  position:absolute;
  left:183px;
  top:330px;
  width:290px;
  height:80px;
}
#u6997_input {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:80px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u6998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6998 {
  position:absolute;
  left:143px;
  top:362px;
  width:40px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6999 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u7000 {
  position:absolute;
  left:183px;
  top:444px;
  width:47px;
  height:16px;
}
#u7001 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u7000_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7002 {
  position:absolute;
  left:261px;
  top:444px;
  width:69px;
  height:16px;
}
#u7003 {
  position:absolute;
  left:16px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u7002_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
