body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:590px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7106 {
  position:absolute;
  left:179px;
  top:520px;
  width:140px;
  height:38px;
}
#u7106_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7107 {
  position:absolute;
  left:179px;
  top:50px;
  width:411px;
  height:40px;
}
#u7107_input {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u7108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u7108 {
  position:absolute;
  left:143px;
  top:64px;
  width:27px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u7109 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u7110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u7110 {
  position:absolute;
  left:91px;
  top:114px;
  width:79px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u7111 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u7112 {
  position:absolute;
  left:179px;
  top:150px;
  width:411px;
  height:40px;
}
#u7112_input {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u7113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u7113 {
  position:absolute;
  left:143px;
  top:164px;
  width:27px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u7114 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u7115 {
  position:absolute;
  left:179px;
  top:200px;
  width:411px;
  height:40px;
}
#u7115_input {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u7116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u7116 {
  position:absolute;
  left:117px;
  top:214px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u7117 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u7118 {
  position:absolute;
  left:179px;
  top:260px;
  width:187px;
  height:40px;
}
#u7118_input {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u7119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u7119 {
  position:absolute;
  left:130px;
  top:274px;
  width:40px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u7120 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u7121 {
  position:absolute;
  left:183px;
  top:330px;
  width:290px;
  height:80px;
}
#u7121_input {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:80px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u7122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u7122 {
  position:absolute;
  left:143px;
  top:362px;
  width:40px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u7123 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u7124 {
  position:absolute;
  left:183px;
  top:444px;
  width:47px;
  height:16px;
}
#u7125 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u7124_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7126 {
  position:absolute;
  left:261px;
  top:444px;
  width:69px;
  height:16px;
}
#u7127 {
  position:absolute;
  left:16px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u7126_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7128 {
  position:absolute;
  left:380px;
  top:100px;
  width:210px;
  height:40px;
}
#u7128_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u7129 {
  position:absolute;
  left:179px;
  top:100px;
  width:191px;
  height:40px;
}
#u7129_input {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
