body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:700px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13555_div {
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF9933;
}
#u13555 {
  position:absolute;
  left:93px;
  top:40px;
  width:607px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF9933;
}
#u13556 {
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  word-wrap:break-word;
}
#u13557_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:28px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u13557 {
  position:absolute;
  left:183px;
  top:104px;
  width:125px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u13557_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:28px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u13557.mouseOver {
}
#u13557_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:28px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-radius:4px;
  -moz-box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  -webkit-box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u13557.mouseDown {
}
#u13557_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:28px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u13557.disabled {
  opacity:0.5;
}
#u13558 {
  position:absolute;
  left:12px;
  top:4px;
  width:101px;
  word-wrap:break-word;
}
#u13559_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:28px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u13559 {
  position:absolute;
  left:348px;
  top:104px;
  width:125px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u13559_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:28px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u13559.mouseOver {
}
#u13559_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:28px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-radius:4px;
  -moz-box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  -webkit-box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u13559.mouseDown {
}
#u13559_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:28px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u13559.disabled {
  opacity:0.5;
}
#u13560 {
  position:absolute;
  left:12px;
  top:4px;
  width:101px;
  word-wrap:break-word;
}
