body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1240px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16806 {
  position:absolute;
  left:246px;
  top:416px;
  width:101px;
  height:30px;
}
#u16807 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u16808 {
  position:absolute;
  left:95px;
  top:325px;
  width:304px;
  height:69px;
}
#u16808_input {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:69px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#A1A1A1;
  text-align:left;
}
#u16808_input {
  font-family:'应用字体';
}
#u16809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16809 {
  position:absolute;
  left:372px;
  top:416px;
  width:101px;
  height:30px;
}
#u16810 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u16811 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u16812 {
  position:absolute;
  left:95px;
  top:90px;
  width:75px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u16813 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u16814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:143px;
  background:inherit;
  background-color:rgba(204, 255, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16814 {
  position:absolute;
  left:110px;
  top:122px;
  width:148px;
  height:143px;
}
#u16815 {
  position:absolute;
  left:2px;
  top:64px;
  width:144px;
  word-wrap:break-word;
}
#u16816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:143px;
  background:inherit;
  background-color:rgba(204, 255, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16816 {
  position:absolute;
  left:264px;
  top:122px;
  width:148px;
  height:143px;
}
#u16817 {
  position:absolute;
  left:2px;
  top:64px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:143px;
  background:inherit;
  background-color:rgba(204, 255, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16818 {
  position:absolute;
  left:418px;
  top:122px;
  width:148px;
  height:143px;
}
#u16819 {
  position:absolute;
  left:2px;
  top:64px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:143px;
  background:inherit;
  background-color:rgba(204, 255, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16820 {
  position:absolute;
  left:572px;
  top:122px;
  width:148px;
  height:143px;
}
#u16821 {
  position:absolute;
  left:2px;
  top:64px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:50px;
}
#u16822 {
  position:absolute;
  left:730px;
  top:169px;
  width:32px;
  height:50px;
}
#u16823 {
  position:absolute;
  left:2px;
  top:17px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:50px;
}
#u16824 {
  position:absolute;
  left:68px;
  top:169px;
  width:32px;
  height:50px;
}
#u16825 {
  position:absolute;
  left:2px;
  top:17px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:34px;
  background:inherit;
  background-color:rgba(102, 175, 233, 0.6);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16826 {
  position:absolute;
  left:60px;
  top:30px;
  width:1180px;
  height:34px;
}
#u16827 {
  position:absolute;
  left:2px;
  top:9px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u16828 {
  position:absolute;
  left:73px;
  top:36px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u16829 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u16830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u16830 {
  position:absolute;
  left:65px;
  top:290px;
  width:238px;
  height:16px;
  font-size:13px;
  color:#FF0000;
}
#u16831 {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  white-space:nowrap;
}
#u16832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:27px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16832 {
  position:absolute;
  left:492px;
  top:34px;
  width:96px;
  height:27px;
}
#u16833 {
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u16834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:27px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16834 {
  position:absolute;
  left:602px;
  top:34px;
  width:96px;
  height:27px;
}
#u16835 {
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u16836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16836 {
  position:absolute;
  left:496px;
  top:416px;
  width:101px;
  height:30px;
}
#u16837 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u16838 {
  position:absolute;
  left:364px;
  top:82px;
  width:288px;
  height:35px;
}
#u16839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u16839 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-size:12px;
  color:#1E1E1E;
  text-align:right;
}
#u16840 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u16841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:30px;
}
#u16841 {
  position:absolute;
  left:100px;
  top:0px;
  width:183px;
  height:30px;
  text-align:left;
}
#u16842 {
  position:absolute;
  left:2px;
  top:7px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16843 {
  position:absolute;
  left:465px;
  top:83px;
  width:120px;
  height:28px;
}
#u16843_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u16843_input {
  font-family:'应用字体';
}
#u16843_input:disabled {
  color:grayText;
}
