body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1574px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1805 {
  position:absolute;
  left:1212px;
  top:50px;
  width:100px;
  height:25px;
}
#u1805_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1806 {
  position:absolute;
  left:20px;
  top:124px;
  width:1559px;
  height:101px;
}
#u1807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:36px;
}
#u1807 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:36px;
  text-align:center;
}
#u1808 {
  position:absolute;
  left:2px;
  top:10px;
  width:42px;
  word-wrap:break-word;
}
#u1809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
}
#u1809 {
  position:absolute;
  left:46px;
  top:0px;
  width:127px;
  height:36px;
  text-align:center;
}
#u1810 {
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u1811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:36px;
}
#u1811 {
  position:absolute;
  left:173px;
  top:0px;
  width:185px;
  height:36px;
  text-align:center;
}
#u1812 {
  position:absolute;
  left:2px;
  top:10px;
  width:181px;
  word-wrap:break-word;
}
#u1813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
}
#u1813 {
  position:absolute;
  left:358px;
  top:0px;
  width:102px;
  height:36px;
  text-align:center;
}
#u1814 {
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  word-wrap:break-word;
}
#u1815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:36px;
}
#u1815 {
  position:absolute;
  left:460px;
  top:0px;
  width:98px;
  height:36px;
  text-align:center;
}
#u1816 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u1817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:36px;
}
#u1817 {
  position:absolute;
  left:558px;
  top:0px;
  width:113px;
  height:36px;
  text-align:center;
}
#u1818 {
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u1819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:36px;
}
#u1819 {
  position:absolute;
  left:671px;
  top:0px;
  width:87px;
  height:36px;
  text-align:center;
}
#u1820 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  word-wrap:break-word;
}
#u1821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u1821 {
  position:absolute;
  left:758px;
  top:0px;
  width:150px;
  height:36px;
  text-align:center;
}
#u1822 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u1823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:36px;
}
#u1823 {
  position:absolute;
  left:908px;
  top:0px;
  width:138px;
  height:36px;
  text-align:center;
}
#u1824 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u1825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:36px;
}
#u1825 {
  position:absolute;
  left:1046px;
  top:0px;
  width:138px;
  height:36px;
  text-align:center;
}
#u1826 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u1827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:36px;
}
#u1827 {
  position:absolute;
  left:1184px;
  top:0px;
  width:370px;
  height:36px;
  text-align:center;
}
#u1828 {
  position:absolute;
  left:2px;
  top:10px;
  width:366px;
  word-wrap:break-word;
}
#u1829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:30px;
}
#u1829 {
  position:absolute;
  left:0px;
  top:36px;
  width:46px;
  height:30px;
  text-align:center;
}
#u1830 {
  position:absolute;
  left:2px;
  top:7px;
  width:42px;
  word-wrap:break-word;
}
#u1831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u1831 {
  position:absolute;
  left:46px;
  top:36px;
  width:127px;
  height:30px;
  text-align:center;
}
#u1832 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u1833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:30px;
}
#u1833 {
  position:absolute;
  left:173px;
  top:36px;
  width:185px;
  height:30px;
  text-align:center;
}
#u1834 {
  position:absolute;
  left:2px;
  top:7px;
  width:181px;
  word-wrap:break-word;
}
#u1835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u1835 {
  position:absolute;
  left:358px;
  top:36px;
  width:102px;
  height:30px;
  text-align:center;
}
#u1836 {
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u1837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u1837 {
  position:absolute;
  left:460px;
  top:36px;
  width:98px;
  height:30px;
  text-align:center;
}
#u1838 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u1839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u1839 {
  position:absolute;
  left:558px;
  top:36px;
  width:113px;
  height:30px;
  text-align:center;
}
#u1840 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u1841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u1841 {
  position:absolute;
  left:671px;
  top:36px;
  width:87px;
  height:30px;
  text-align:center;
}
#u1842 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u1843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u1843 {
  position:absolute;
  left:758px;
  top:36px;
  width:150px;
  height:30px;
  text-align:center;
}
#u1844 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u1845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u1845 {
  position:absolute;
  left:908px;
  top:36px;
  width:138px;
  height:30px;
  text-align:center;
}
#u1846 {
  position:absolute;
  left:2px;
  top:7px;
  width:134px;
  word-wrap:break-word;
}
#u1847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u1847 {
  position:absolute;
  left:1046px;
  top:36px;
  width:138px;
  height:30px;
  text-align:center;
}
#u1848 {
  position:absolute;
  left:2px;
  top:7px;
  width:134px;
  word-wrap:break-word;
}
#u1849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:30px;
}
#u1849 {
  position:absolute;
  left:1184px;
  top:36px;
  width:370px;
  height:30px;
  text-align:center;
}
#u1850 {
  position:absolute;
  left:2px;
  top:7px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:30px;
}
#u1851 {
  position:absolute;
  left:0px;
  top:66px;
  width:46px;
  height:30px;
  text-align:center;
}
#u1852 {
  position:absolute;
  left:2px;
  top:7px;
  width:42px;
  word-wrap:break-word;
}
#u1853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u1853 {
  position:absolute;
  left:46px;
  top:66px;
  width:127px;
  height:30px;
  text-align:center;
}
#u1854 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u1855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:30px;
}
#u1855 {
  position:absolute;
  left:173px;
  top:66px;
  width:185px;
  height:30px;
  text-align:center;
}
#u1856 {
  position:absolute;
  left:2px;
  top:7px;
  width:181px;
  word-wrap:break-word;
}
#u1857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u1857 {
  position:absolute;
  left:358px;
  top:66px;
  width:102px;
  height:30px;
  text-align:center;
}
#u1858 {
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u1859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u1859 {
  position:absolute;
  left:460px;
  top:66px;
  width:98px;
  height:30px;
  text-align:center;
}
#u1860 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u1861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u1861 {
  position:absolute;
  left:558px;
  top:66px;
  width:113px;
  height:30px;
  text-align:center;
}
#u1862 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u1863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u1863 {
  position:absolute;
  left:671px;
  top:66px;
  width:87px;
  height:30px;
  text-align:center;
}
#u1864 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u1865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u1865 {
  position:absolute;
  left:758px;
  top:66px;
  width:150px;
  height:30px;
  text-align:center;
}
#u1866 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u1867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u1867 {
  position:absolute;
  left:908px;
  top:66px;
  width:138px;
  height:30px;
  text-align:center;
}
#u1868 {
  position:absolute;
  left:2px;
  top:7px;
  width:134px;
  word-wrap:break-word;
}
#u1869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u1869 {
  position:absolute;
  left:1046px;
  top:66px;
  width:138px;
  height:30px;
  text-align:center;
}
#u1870 {
  position:absolute;
  left:2px;
  top:7px;
  width:134px;
  word-wrap:break-word;
}
#u1871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:30px;
}
#u1871 {
  position:absolute;
  left:1184px;
  top:66px;
  width:370px;
  height:30px;
  text-align:center;
}
#u1872 {
  position:absolute;
  left:2px;
  top:7px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1874 {
  position:absolute;
  left:713px;
  top:247px;
  width:99px;
  height:30px;
  color:#FF0000;
}
#u1875 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u1876 {
  position:absolute;
  left:828px;
  top:244px;
  width:41px;
  height:25px;
}
#u1876_input {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1877 {
  position:absolute;
  left:879px;
  top:244px;
  width:51px;
  height:25px;
}
#u1877_input {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1878 {
  position:absolute;
  left:938px;
  top:243px;
  width:46px;
  height:25px;
}
#u1878_input {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1879 {
  position:absolute;
  left:994px;
  top:243px;
  width:41px;
  height:25px;
}
#u1879_input {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1880 {
  position:absolute;
  left:1045px;
  top:243px;
  width:17px;
  height:25px;
}
#u1880_input {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
  text-align:center;
}
#u1881 {
  position:absolute;
  left:1068px;
  top:243px;
  width:17px;
  height:25px;
}
#u1881_input {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1882 {
  position:absolute;
  left:1090px;
  top:243px;
  width:17px;
  height:25px;
}
#u1882_input {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1883 {
  position:absolute;
  left:1125px;
  top:243px;
  width:17px;
  height:25px;
}
#u1883_input {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1884 {
  position:absolute;
  left:1148px;
  top:243px;
  width:16px;
  height:25px;
}
#u1884_input {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1885 {
  position:absolute;
  left:1110px;
  top:246px;
  width:19px;
  height:22px;
  color:#FF0000;
}
#u1886 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
#u1887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1887 {
  position:absolute;
  left:1174px;
  top:249px;
  width:27px;
  height:22px;
  color:#000000;
}
#u1888 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u1889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1889 {
  position:absolute;
  left:1237px;
  top:249px;
  width:27px;
  height:22px;
  color:#000000;
}
#u1890 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u1891 {
  position:absolute;
  left:1206px;
  top:243px;
  width:26px;
  height:25px;
}
#u1891_input {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1892 {
  position:absolute;
  left:714px;
  top:22px;
  width:246px;
  height:40px;
}
#u1892_input {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u1893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1893 {
  position:absolute;
  left:647px;
  top:36px;
  width:66px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1894 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1895 {
  position:absolute;
  left:370px;
  top:34px;
  width:66px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1896 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1897 {
  position:absolute;
  left:147px;
  top:22px;
  width:150px;
  height:40px;
}
#u1897_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u1898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1898 {
  position:absolute;
  left:80px;
  top:36px;
  width:66px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1899 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1900 {
  position:absolute;
  left:446px;
  top:22px;
  width:139px;
  height:40px;
}
#u1900_input {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1900_input:disabled {
  color:grayText;
}
#u1901 {
  position:absolute;
  left:1211px;
  top:164px;
  width:48px;
  height:25px;
}
#u1901_input {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1902 {
  position:absolute;
  left:1269px;
  top:164px;
  width:87px;
  height:25px;
}
#u1902_input {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1903 {
  position:absolute;
  left:1366px;
  top:164px;
  width:87px;
  height:25px;
}
#u1903_input {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
