body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1574px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2058 {
  position:absolute;
  left:1212px;
  top:50px;
  width:100px;
  height:25px;
}
#u2058_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2059 {
  position:absolute;
  left:20px;
  top:124px;
  width:1559px;
  height:101px;
}
#u2060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:36px;
}
#u2060 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:36px;
  text-align:center;
}
#u2061 {
  position:absolute;
  left:2px;
  top:10px;
  width:42px;
  word-wrap:break-word;
}
#u2062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
}
#u2062 {
  position:absolute;
  left:46px;
  top:0px;
  width:127px;
  height:36px;
  text-align:center;
}
#u2063 {
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u2064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:36px;
}
#u2064 {
  position:absolute;
  left:173px;
  top:0px;
  width:185px;
  height:36px;
  text-align:center;
}
#u2065 {
  position:absolute;
  left:2px;
  top:10px;
  width:181px;
  word-wrap:break-word;
}
#u2066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
}
#u2066 {
  position:absolute;
  left:358px;
  top:0px;
  width:102px;
  height:36px;
  text-align:center;
}
#u2067 {
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  word-wrap:break-word;
}
#u2068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:36px;
}
#u2068 {
  position:absolute;
  left:460px;
  top:0px;
  width:98px;
  height:36px;
  text-align:center;
}
#u2069 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u2070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:36px;
}
#u2070 {
  position:absolute;
  left:558px;
  top:0px;
  width:113px;
  height:36px;
  text-align:center;
}
#u2071 {
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u2072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:36px;
}
#u2072 {
  position:absolute;
  left:671px;
  top:0px;
  width:87px;
  height:36px;
  text-align:center;
}
#u2073 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  word-wrap:break-word;
}
#u2074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u2074 {
  position:absolute;
  left:758px;
  top:0px;
  width:150px;
  height:36px;
  text-align:center;
}
#u2075 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u2076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:36px;
}
#u2076 {
  position:absolute;
  left:908px;
  top:0px;
  width:138px;
  height:36px;
  text-align:center;
}
#u2077 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u2078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:36px;
}
#u2078 {
  position:absolute;
  left:1046px;
  top:0px;
  width:138px;
  height:36px;
  text-align:center;
}
#u2079 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u2080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:36px;
}
#u2080 {
  position:absolute;
  left:1184px;
  top:0px;
  width:370px;
  height:36px;
  text-align:center;
}
#u2081 {
  position:absolute;
  left:2px;
  top:10px;
  width:366px;
  word-wrap:break-word;
}
#u2082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:30px;
}
#u2082 {
  position:absolute;
  left:0px;
  top:36px;
  width:46px;
  height:30px;
  text-align:center;
}
#u2083 {
  position:absolute;
  left:2px;
  top:7px;
  width:42px;
  word-wrap:break-word;
}
#u2084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u2084 {
  position:absolute;
  left:46px;
  top:36px;
  width:127px;
  height:30px;
  text-align:center;
}
#u2085 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u2086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:30px;
}
#u2086 {
  position:absolute;
  left:173px;
  top:36px;
  width:185px;
  height:30px;
  text-align:center;
}
#u2087 {
  position:absolute;
  left:2px;
  top:7px;
  width:181px;
  word-wrap:break-word;
}
#u2088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u2088 {
  position:absolute;
  left:358px;
  top:36px;
  width:102px;
  height:30px;
  text-align:center;
}
#u2089 {
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u2090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u2090 {
  position:absolute;
  left:460px;
  top:36px;
  width:98px;
  height:30px;
  text-align:center;
}
#u2091 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u2092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u2092 {
  position:absolute;
  left:558px;
  top:36px;
  width:113px;
  height:30px;
  text-align:center;
}
#u2093 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u2094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u2094 {
  position:absolute;
  left:671px;
  top:36px;
  width:87px;
  height:30px;
  text-align:center;
}
#u2095 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u2096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u2096 {
  position:absolute;
  left:758px;
  top:36px;
  width:150px;
  height:30px;
  text-align:center;
}
#u2097 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u2098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u2098 {
  position:absolute;
  left:908px;
  top:36px;
  width:138px;
  height:30px;
  text-align:center;
}
#u2099 {
  position:absolute;
  left:2px;
  top:7px;
  width:134px;
  word-wrap:break-word;
}
#u2100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u2100 {
  position:absolute;
  left:1046px;
  top:36px;
  width:138px;
  height:30px;
  text-align:center;
}
#u2101 {
  position:absolute;
  left:2px;
  top:7px;
  width:134px;
  word-wrap:break-word;
}
#u2102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:30px;
}
#u2102 {
  position:absolute;
  left:1184px;
  top:36px;
  width:370px;
  height:30px;
  text-align:center;
}
#u2103 {
  position:absolute;
  left:2px;
  top:7px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:30px;
}
#u2104 {
  position:absolute;
  left:0px;
  top:66px;
  width:46px;
  height:30px;
  text-align:center;
}
#u2105 {
  position:absolute;
  left:2px;
  top:7px;
  width:42px;
  word-wrap:break-word;
}
#u2106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u2106 {
  position:absolute;
  left:46px;
  top:66px;
  width:127px;
  height:30px;
  text-align:center;
}
#u2107 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u2108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:30px;
}
#u2108 {
  position:absolute;
  left:173px;
  top:66px;
  width:185px;
  height:30px;
  text-align:center;
}
#u2109 {
  position:absolute;
  left:2px;
  top:7px;
  width:181px;
  word-wrap:break-word;
}
#u2110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u2110 {
  position:absolute;
  left:358px;
  top:66px;
  width:102px;
  height:30px;
  text-align:center;
}
#u2111 {
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u2112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u2112 {
  position:absolute;
  left:460px;
  top:66px;
  width:98px;
  height:30px;
  text-align:center;
}
#u2113 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u2114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u2114 {
  position:absolute;
  left:558px;
  top:66px;
  width:113px;
  height:30px;
  text-align:center;
}
#u2115 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u2116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u2116 {
  position:absolute;
  left:671px;
  top:66px;
  width:87px;
  height:30px;
  text-align:center;
}
#u2117 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u2118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u2118 {
  position:absolute;
  left:758px;
  top:66px;
  width:150px;
  height:30px;
  text-align:center;
}
#u2119 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u2120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u2120 {
  position:absolute;
  left:908px;
  top:66px;
  width:138px;
  height:30px;
  text-align:center;
}
#u2121 {
  position:absolute;
  left:2px;
  top:7px;
  width:134px;
  word-wrap:break-word;
}
#u2122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u2122 {
  position:absolute;
  left:1046px;
  top:66px;
  width:138px;
  height:30px;
  text-align:center;
}
#u2123 {
  position:absolute;
  left:2px;
  top:7px;
  width:134px;
  word-wrap:break-word;
}
#u2124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:30px;
}
#u2124 {
  position:absolute;
  left:1184px;
  top:66px;
  width:370px;
  height:30px;
  text-align:center;
}
#u2125 {
  position:absolute;
  left:2px;
  top:7px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2127 {
  position:absolute;
  left:713px;
  top:247px;
  width:99px;
  height:30px;
  color:#FF0000;
}
#u2128 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u2129 {
  position:absolute;
  left:828px;
  top:244px;
  width:41px;
  height:25px;
}
#u2129_input {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2130 {
  position:absolute;
  left:879px;
  top:244px;
  width:51px;
  height:25px;
}
#u2130_input {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2131 {
  position:absolute;
  left:938px;
  top:243px;
  width:46px;
  height:25px;
}
#u2131_input {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2132 {
  position:absolute;
  left:994px;
  top:243px;
  width:41px;
  height:25px;
}
#u2132_input {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2133 {
  position:absolute;
  left:1045px;
  top:243px;
  width:17px;
  height:25px;
}
#u2133_input {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
  text-align:center;
}
#u2134 {
  position:absolute;
  left:1068px;
  top:243px;
  width:17px;
  height:25px;
}
#u2134_input {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2135 {
  position:absolute;
  left:1090px;
  top:243px;
  width:17px;
  height:25px;
}
#u2135_input {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2136 {
  position:absolute;
  left:1125px;
  top:243px;
  width:17px;
  height:25px;
}
#u2136_input {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2137 {
  position:absolute;
  left:1148px;
  top:243px;
  width:16px;
  height:25px;
}
#u2137_input {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2138 {
  position:absolute;
  left:1110px;
  top:246px;
  width:19px;
  height:22px;
  color:#FF0000;
}
#u2139 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
#u2140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2140 {
  position:absolute;
  left:1174px;
  top:249px;
  width:27px;
  height:22px;
  color:#000000;
}
#u2141 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u2142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2142 {
  position:absolute;
  left:1237px;
  top:249px;
  width:27px;
  height:22px;
  color:#000000;
}
#u2143 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u2144 {
  position:absolute;
  left:1206px;
  top:243px;
  width:26px;
  height:25px;
}
#u2144_input {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2145 {
  position:absolute;
  left:714px;
  top:22px;
  width:246px;
  height:40px;
}
#u2145_input {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u2146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u2146 {
  position:absolute;
  left:647px;
  top:36px;
  width:66px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u2147 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u2148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u2148 {
  position:absolute;
  left:370px;
  top:34px;
  width:66px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u2149 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u2150 {
  position:absolute;
  left:147px;
  top:22px;
  width:150px;
  height:40px;
}
#u2150_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u2151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u2151 {
  position:absolute;
  left:80px;
  top:36px;
  width:66px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u2152 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u2153 {
  position:absolute;
  left:446px;
  top:22px;
  width:139px;
  height:40px;
}
#u2153_input {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2153_input:disabled {
  color:grayText;
}
#u2154 {
  position:absolute;
  left:1211px;
  top:164px;
  width:48px;
  height:25px;
}
#u2154_input {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2155 {
  position:absolute;
  left:1269px;
  top:164px;
  width:87px;
  height:25px;
}
#u2155_input {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2156 {
  position:absolute;
  left:1366px;
  top:164px;
  width:87px;
  height:25px;
}
#u2156_input {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
