body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1240px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17075 {
  position:absolute;
  left:246px;
  top:416px;
  width:101px;
  height:30px;
}
#u17076 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u17077 {
  position:absolute;
  left:95px;
  top:325px;
  width:304px;
  height:69px;
}
#u17077_input {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:69px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#A1A1A1;
  text-align:left;
}
#u17077_input {
  font-family:'应用字体';
}
#u17078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17078 {
  position:absolute;
  left:372px;
  top:416px;
  width:101px;
  height:30px;
}
#u17079 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u17080 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u17081 {
  position:absolute;
  left:95px;
  top:90px;
  width:75px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u17082 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u17083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:143px;
  background:inherit;
  background-color:rgba(204, 255, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17083 {
  position:absolute;
  left:110px;
  top:122px;
  width:148px;
  height:143px;
}
#u17084 {
  position:absolute;
  left:2px;
  top:64px;
  width:144px;
  word-wrap:break-word;
}
#u17085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:143px;
  background:inherit;
  background-color:rgba(204, 255, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17085 {
  position:absolute;
  left:264px;
  top:122px;
  width:148px;
  height:143px;
}
#u17086 {
  position:absolute;
  left:2px;
  top:64px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:143px;
  background:inherit;
  background-color:rgba(204, 255, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17087 {
  position:absolute;
  left:418px;
  top:122px;
  width:148px;
  height:143px;
}
#u17088 {
  position:absolute;
  left:2px;
  top:64px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:143px;
  background:inherit;
  background-color:rgba(204, 255, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17089 {
  position:absolute;
  left:572px;
  top:122px;
  width:148px;
  height:143px;
}
#u17090 {
  position:absolute;
  left:2px;
  top:64px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:50px;
}
#u17091 {
  position:absolute;
  left:730px;
  top:169px;
  width:32px;
  height:50px;
}
#u17092 {
  position:absolute;
  left:2px;
  top:17px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:50px;
}
#u17093 {
  position:absolute;
  left:68px;
  top:169px;
  width:32px;
  height:50px;
}
#u17094 {
  position:absolute;
  left:2px;
  top:17px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:34px;
  background:inherit;
  background-color:rgba(102, 175, 233, 0.6);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17095 {
  position:absolute;
  left:60px;
  top:30px;
  width:1180px;
  height:34px;
}
#u17096 {
  position:absolute;
  left:2px;
  top:9px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u17097 {
  position:absolute;
  left:73px;
  top:36px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u17098 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u17099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u17099 {
  position:absolute;
  left:65px;
  top:290px;
  width:238px;
  height:16px;
  font-size:13px;
  color:#FF0000;
}
#u17100 {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  white-space:nowrap;
}
#u17101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:27px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17101 {
  position:absolute;
  left:492px;
  top:34px;
  width:96px;
  height:27px;
}
#u17102 {
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u17103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:27px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17103 {
  position:absolute;
  left:602px;
  top:34px;
  width:96px;
  height:27px;
}
#u17104 {
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u17105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17105 {
  position:absolute;
  left:496px;
  top:416px;
  width:101px;
  height:30px;
}
#u17106 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u17107 {
  position:absolute;
  left:364px;
  top:82px;
  width:288px;
  height:35px;
}
#u17108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u17108 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-size:12px;
  color:#1E1E1E;
  text-align:right;
}
#u17109 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u17110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:30px;
}
#u17110 {
  position:absolute;
  left:100px;
  top:0px;
  width:183px;
  height:30px;
  text-align:left;
}
#u17111 {
  position:absolute;
  left:2px;
  top:7px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17112 {
  position:absolute;
  left:465px;
  top:83px;
  width:120px;
  height:28px;
}
#u17112_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u17112_input {
  font-family:'应用字体';
}
#u17112_input:disabled {
  color:grayText;
}
